
.map-wrapper{
    height: 300px;
    width: 100%;
}

.map{
    height: 100%;
    width: 100%;
}

.ymaps-2-1-77-balloon__content {
    padding: 26px 20px 30px 30px!important;
}

.ymaps-2-1-77-balloon{
    border-bottom: 2px solid #F57E20;;
}


[class*="ymaps-2"][class*="-ground-pane"]{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter:grayscale(100%);
}

.ymaps-2-1-77-map-copyrights-promo, .ymaps-2-1-77-copyright__wrap{
    display: none!important;
}