@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.orange-numbers-about{
    color: #f57e20;
    margin-top: 60px
}

.about__low-block-left {
    width: 55%;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 10%;
}

.about-advantages{
    width: 45%;
    margin-left: auto;
    margin-top: 50px;
}

.about-true{
    min-width: 40px;
    margin-top: 8px;
    margin-right: 24px;
    width: 40px;
    height: 40px;
}

.about-company{
    width: 100%;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px){
    .orange-numbers-about{
        margin-top: 20px
    }
    .about-advantages{
        width: 100%;
    }
}

