@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.api-advantages{
    margin-top:20px;
    display: flex;
    border-left:1px solid #EDEDED;
}

.api_advantages-inner{
    width: 25%;
    padding: 50px 3% 40px;
    display: block;
    border-top:1px solid #EDEDED;
    border-bottom:1px solid #EDEDED;
    border-right:1px solid #EDEDED;
}

.api_advantages-inner-div{}

.api-img{
    display: block;
    margin:auto;
    width: 100px;
    height: 100px;
    fill: transparent;
}

.api_advantages-inner-img{
    width: 100%;
    height: 178px;
    background-image: url("../images/content/mac.png");
    background-position: 50% 4px;
}

.blue-p-bold{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #224089;
}

@media screen and (max-width: 1000px) {
    .api-advantages{
        flex-flow: wrap;
    }
    .api_advantages-inner{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .api_advantages-inner{
        width: 100%;
    }
}

