@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.brands-details{
    margin: 20px 0 ;
}


.brands_details-flex{
    display: flex;
    justify-content: space-between;
}

.brands-numeration{
    width: 65%;
}

.letters-brands{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
}

.letters_brands-big_orange{
    width: 10%;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #F57E20;
}

.letters_brands-blocks{
    width: 90%;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px){
    .brands_details-flex{
        flex-flow: row wrap;
    }

    .brands-numeration{
        width: 100%;
        margin-top: 15px;
    }
}

