
.catalogs {
    display: flex;
    flex-flow: row wrap;
    margin-top: 33px;
}


.catalog-item:nth-child(1):hover~.catalog-item:nth-child(2){
    border-left: none!important;
}

.catalog-item:nth-child(2):hover~.catalog-item:nth-child(3){
    border-left: none!important;
}

.catalog-item:nth-child(3):hover~.catalog-item:nth-child(4){
    border-left: none!important;
}

.catalog-item:nth-child(1){
    border-top: 1px solid #EDEDED;
}

.catalog-item:nth-child(2){
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;

}

.catalog-item:nth-child(3){
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;

}

.catalog-item:nth-child(4){
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;

}

.catalog-item {
    width: 25%;
    padding: 50px 0 12px 40px;
}

.catalog-item:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /*border: none;*/
    border-top: none;
    border-left: none;
}

.catalog-item:hover .item-img {
    border-top: 20px solid #F1F1F1;
    border-right: 20px solid #F1F1F1;
    border-bottom: 20px solid #F1F1F1;
    box-shadow: none;
}

.catalog-title {
    display: block;
    width: 200px;
    height: auto;
    cursor: pointer;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #224089;
}



.catalog-a {
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -6px;
}

@media screen and (max-width: 900px) {
    .catalogs {
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #EDEDED;
        justify-content: space-between;
        margin-top:20px;
    }

    .catalog-item {
        width: 46%;
        padding: 20px 0 12px 10px;
        box-shadow: none;
    }

    .catalog-title {
        width: auto;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }


    .catalog-a {
        display: none;
    }
}
