
.articles {
    display: flex;
    flex-flow: row wrap;
}

.article {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    border: 1px solid #FAFAFA;
    padding-bottom: 16px;
    background-color: white;
}

.article:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.article-img {
    max-width: 200px;
    height: 150px;
    margin: 30px auto 20px;
    cursor: pointer;
    img{
        display: block;
        margin:auto;
    }
}

.article-name {
    width: 200px;
    margin: 0 auto 7px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
}

.article-a {
    cursor: pointer;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #224089;
    margin: 0 17% 6px;
    width: fit-content;
    height: 20px;
}

.article-a:hover {
    color: #F57E20;
    border-bottom: 2px solid #F57E20;
}

@media screen and (max-width: 900px) {
    .dop__articles {
        background-color: white;
    }

    .article {
        width: 50%;
        border: 1px solid #EDEDED;
    }

    .articles {
        margin-top: 18px;
    }

    .article-img {
        width: 95%;
        height: 140px;
        margin: 15px auto 15px;
    }

    .article-name {
        width: 150px;
        margin: 0 7% 7px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }

    .article-a {
        margin: 0 7% 6px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
    }

}