@import "../media.css";
@import "../variables.css";


.registration_delivery-container{
    border-top:2px solid #F57E20;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    min-height: 160px;
    padding:30px;
}

.registration_delivery-container-small{
    border-top:2px solid #F57E20;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    min-height: 160px;
    padding:10px;
}
