@import "../variables.css";
@import "../media.css";

* {
    font-family: Arial;
}

.menu-flex{
    display: flex;
    margin-bottom: 40px;
}

.menu_flex-item_first{
    width: 35%;
}

.menu_flex-item_second{
    width: 65%;
}

.relocation-contacts{
    margin-top:40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
}

.contacts-svg{
    width: 35px;
    height: 35px;
    fill: transparent;
}

.big-black{
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
}

.underline{
    text-decoration-line: underline;
}

.contacts-levels{
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    .relocation-contacts {
        flex-flow: wrap;
    }
}

@media screen and (max-width: 800px){
    .menu-flex{
        flex-flow: column-reverse;
    }

    .menu_flex-item_first{
        width: fit-content;
        margin:0 auto 30px;
    }

    .relocation-contacts{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contacts-levels{
        margin-bottom: 20px;
    }

    .menu_flex-item_second{
        width: 100%;
        margin-bottom: 30px;
    }

}

