.select-custom{
    width: 120px;
}
.select-custom__label {
    width: 120px;
    position: relative;
    margin-bottom: 0;
    font-weight: normal;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
[hidden], template {
    display: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.select-custom__button--black {
    color: #333;
}

.select-custom__button {
    display: inline-block;
    position: relative;
    /*padding-right: 20px;*/
    font-size: 16px;
    line-height: 19px;
    color: #49A5DA;
    cursor: pointer;
    width: 120px;
    padding:0 20px;
}
.select-custom.is-open .select-custom__dropdown {
    display: flex;
}

.heading-sort .select-custom__dropdown {
    left: auto;
    right: -1px;
    width: 120px;
}
.select-custom__dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    /*z-index: 1;*/
    left: 0;
    top: 100%;
    margin-top: -45px;
    width: 120px;
    background-color: white;
    /*box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.15);*/
    z-index: 3;
    mix-blend-mode: normal;
    /*border: 1px solid #CDD3DA;*/
}
.select-custom__button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    /*width: 13px;*/
    /*height: 10px;*/
    /*background: url(../images/svg/checked.svg) no-repeat;*/

    cursor: pointer;
    margin-top: 21px;
    border: 5px solid transparent;
    border-top-color: #7E7D89;
    transition: transform .2s;
    height: 10px;
}
.select-custom__option:hover, .select-custom__option.is-current {
    /*background-color: rgba(73, 165, 218, .1);*/
    background: #F4F5F7;
}

.select-custom__option.is-current {
    order: -1;
}
.select-custom__option {
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-style: normal;
    font-weight: normal;
    color: #7E7D89;
    font-size: 16px;
    background-color: #EDEDED;
    cursor: pointer;
}
.select-custom__option.is-current:after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    /*width: 13px;*/
    /*height: 10px;*/
    /*background: url(../images/svg/checked.svg) no-repeat;*/

    cursor: pointer;
    margin-top: 21px;
    border: 5px solid transparent;
    border-top-color: #7E7D89;
    transition: transform .2s;
    height: 10px;
}

.line-after{
    font-size: 25px;
    margin-top: 6px;
}