@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.found-table{
    width: 100%;
    max-width: 840px;
}

.found-title{
    margin-top: 16px;
}

.found_table-head{
    display: flex;
    border-bottom: 1px solid #EDEDED;
    padding:12px 0;

    .grey{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }
}


.found-level{
    display: flex;
    height: 60px;
    border-bottom: 1px solid #EDEDED;
}

.found_table-body{
    .found-row{
        padding: 20px 0;
    }
}

.found-row{
    width: 20%;
    .bold{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #224089;
    }
    .common{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }
}
.found-btn{
    margin:auto 0 auto auto;
}
.white-btn{
    /*margin:auto;*/
    padding:10px 0;
    display: block;
    height: 40px;
    width: 160px;
    border: 1px solid #F57E20;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: #F57E20;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.white-btn:hover{
    border: none;
    cursor: pointer;
    background-color: #F57E20;
    color: white;
}

@media screen and (max-width: 700px) {
    .found-table{
        display: flex;
        flex-flow: row nowrap;
    }
    .found_table-head{
        width: 23%;
        margin-right: 2%;

        display: flex;
        flex-flow: column;
    }
    .found_table-body{
        min-width: 260px;
        width: 75%;
        display: flex;
        .found-level{
            border: none;
            display: flex;
            flex-flow: column;
            min-width: 200px;

            .bold{
                height: fit-content;
            }
        }
        .found-row{
            width: 100%;
            padding:  0;
            margin:20px 16px;
            height: 60px;
            span{
                text-align: center;
                display: block;
                margin: auto;
            }
        }
    }

.found-row{
    height: 60px;
}



}
