@import "../media.css";
@import "../variables.css";

.ie{
    display: none;
}

.toggle{
    margin-top:15px;
    margin-bottom: 30px;
}

.footer-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}

.footer-element{
    display: block;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
    color:black;
}


.flex-columns{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.footer-boy{
    margin-top: -190px;
    width: 28%;
    z-index: -1;
}

.footer-parts{
    width: 24%;
}

.social{
    margin-top: 46px;
    margin-bottom: 40px;
}

.social-a{
    cursor: pointer;
    margin:0 35px 0 0;
}

.social-svg{
    height: 20px;
    width: 22px;
    fill: #224089;
}

.social-svg:hover{
    fill: #F57E20;
}

.footer-a{
    color: #224089;
}

.margin37{
    margin-bottom: 37px;
}

.footer-phone{
    display: block;
    margin-top:31px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
}

.footer-weave{
    margin-top: -100px;
}

.footer-img{
    width: 100%;
}

.pred-low-footer{
    width: 100%;
    background-color: #FAFAFA;
}

.low-footer{
    background-color: #FAFAFA;
    margin:-40px auto 0 auto;
}

.footer-copyright{
    margin:auto 0;
    width: 220px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B6B6B6;
}

.confident{
    margin:auto 0;
    cursor: pointer;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #224089;
}

.us-logo{
    cursor: pointer;
    display: block;
}


@media screen and (max-width: 1000px) {

    #menu-toggle{
        display: none;
    }

    .toggle{
        display: none;
    }

    #menu-toggle:checked + .toggle {
        display: block;
    }

    #menu-toggle1:checked + .toggle {
        display: block;
    }
    #menu-toggle2:checked + .toggle {
        display: block;
    }

    .footer-weave{
        margin-top:-45px;
    }

    .footer-boy{
        display: none;
    }

    .footer-parts{
        width: 100%;
    }

    .footer-img{
        height: 260px;
        width: auto;
        max-height: none;
        max-width: none;
    }

    .low-footer{
        margin-bottom:  10px;
        width: 400px;
        margin-top: -120px;
    }
    .footer-phone{
        text-align: center;
    }

    .footer-element-low{
        width: 260px;
        margin:7px auto;
    }
    .footer-a{
        width: 260px;
        margin:18px auto;
        display: block;
    }

    .social{
        text-align: center;
    }

    .footer-title{
        display: flex;
        justify-content: space-between;
        width: 265px;
        /*display: block;*/
        border-top: 1px solid #EDEDED;
        margin:auto;
        padding-top:5px;
        padding-bottom: 5px;
    }

    .toggle{
        width: 260px;
        margin:auto;
    }

    .footer-copyright{
        width: 400px;
        margin-bottom: 22px;
        font-weight: normal;
        font-size: 11px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .confident{
        width: 400px;
        text-align: left;
        margin-bottom: 8px;
    }

    .stratosfera{
        width: 140px;
    }

    .footer-logo{
        margin-top: 30px;
        display: block;
    }

    .social{
        margin-top: 32px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer-title{
        a{
            font-size: 18px;
            line-height: 30px;
        }
    }
}
