@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.crumbs{
    margin-top:26px;
    margin-bottom: 16px;
    color: #CDCDCD;
}


.common-p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #CDCDCD;
}

.seo-text{
    width: 72%;
    margin-left: auto;
    margin-bottom: 60px;
    margin-top: 90px;
}


.common-p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

@media screen and (max-width: 900px) {
    .crumbs{
        opacity: 0;
    }

    .seo-text{
        width: 100%;
        margin:40px auto 70px;
    }

    .h3{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }

    .common-p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
    }
}
