@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.blue-a{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #224089;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px){
    .blue-a{
        padding-right: 10px;
        margin-top: 10px;
    }
}

