@import "../media.css";
@import "../variables.css";


.innovation_body-left{
    width: 50%;
}


.innovation_body-right{
    height: fit-content;
    width: 50%;
}

.border-left-desktop{
    width: 1%;
    max-height: 485px;
    border-left: 1px solid #EDEDED;
}

.innovation-right-table{
    padding:10px 0 10px 30px;
    width: 99%;
}

.details-img{
    min-height: 530px;
    min-width: 530px;
    width: 530px;
    height: 530px;
    background-color: #FAFAFA;
    margin:50px auto 20px;
    display: block;
    padding:70px 20px 60px;
}

.level-number-bold{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin:0;

    &:hover{
        color: #F57E20;
     }
}

.small-item{
    display: inline;
    margin-top: -28px;
    margin-left: 50%;
}

.table-block-scroll{
    max-height: 450px;
    overflow: auto;
}

.table-level:hover{
    color: #F57E20!important;
}

/* Размеры скроллбара */
.table-block-scroll::-webkit-scrollbar {
    width: 2px;
}

/* Трек поле скроллбара */
.table-block-scroll::-webkit-scrollbar-track {
    background: #4f6789;
}

/* Ползунок скроллбара */
.table-block-scroll::-webkit-scrollbar-thumb {
    width: 2px;
    background: #F57E20;
}

.minus-btn{
    cursor: pointer;
    height: 50px;
    width: 50px;
    fill: white;
    stroke: #224089;
    &:hover{
        fill: #224089;
        stroke: white;
     }
}

.no-btn{
    background:none;
    outline: none;
    border: none;
}

.no-btns{
    margin:0 auto 50px;
    width: 530px;
}

.selected-line {
    width: 80px;
    position: relative;
    /*color: #224089;*/
    color: transparent;
    z-index: 10;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    display: flex;
    flex-flow: column;
}

.selected_line-hover_card{
    cursor: pointer;
    width: fit-content;
    margin-left: -3px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:10px 5px;
}

.selected_line-block_image{
    width: 60px;
    height: 25px;
    padding-top: 3px;
}

.row-reverse-desktop{
    flex-flow: row-reverse;
}

#block-1{
    bottom: 58%;
    left: 18.3%;
}

#block-2{
    bottom: 67%;
    left: 25%;
}


.hover-line{
    cursor: pointer;
    background-color: #F57E20;
    color: white;
}

.cruz{
    cursor: pointer;
    position: relative;
    bottom: 90%;
    left: 95%;
    background-color: transparent;
    outline: none;
    border:none;
}


.increase-main{
    background-color: rgba(34, 64, 137, 0.7);
    width: 100%;
    height: 100%;
}

.increase_main-modal{
    width: 900px;
    height: 700px;
    /*margin:300px auto;*/
    padding-top: 90px;
    margin:auto;
}

.increase_main-modal-into{
    height: 100%;
    background-color: #FAFAFA;

}

.increase_main-modal_span{
    display: block;
    width: 300px;
    margin:0 auto;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .no-btns{
        display: none;
    }

    .details-img{
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .row-reverse-desktop{
        flex-flow: row wrap;
    }

    .detail-body{
        flex-flow: row wrap;
        border-bottom: none;
    }
    .innovation_body-left{
        width: 100%;
        border-right: none;
        overflow-x: scroll;
        /*min-width: auto;*/
    }

    .innovation_body-right{
        width: 100%;
    }

    .small-item{
        margin-top: -6px;
    }

    .border-left-desktop{
        border-left: none;
    }

}

@media screen and (max-width: 750px) {
    .detail-head{
        margin-top: 10px;
    }
    .small-item{
        margin-left: 10%;
    }

    .innovation-right-table{
        padding:0;
    }
}

@media screen and (max-width: 600px) {
    .details-img{
        overflow-x: scroll;
    }
}
