@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.logistica{
    background: url("../images/content/logistica-back.png");
    height: 500px;
    display: flex;
}

.logistic-left_block{
    width: 55%;
}

.logistic-right_block{
    width: 45%;
    display: flex;
    flex-flow: column;
    height: fit-content;
    margin:auto 0;
    padding-top: 30px;
}

.logistic-body{
    margin-top: -50px;
    margin-left: 13%;
    width: 600px;
    height: 550px;
}

.logistica-svg{
    fill: transparent;
    width: 80px;
    height: 80px;
}

.logistic-blue-bold{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #224089;
}
.logistic-blue-bold:not(:first-child){
    margin:auto 16px;
    height: fit-content;
}

.logistic-blue-bold:first-child{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .logistic-body{
        display: none;
    }
    .space-small{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .logistic-right_block{
        width: 80%;
        margin-left: auto;
        margin-right: 5%;
    }
    .logistic-left_block{
        display: none;
    }
    .about-low{
        flex-flow:wrap;
    }
    .about__low-block-left{
        width: 100%;
        padding-right: 1%;
    }
}

