@import "../media.css";
@import "../variables.css";

* {
    font-family: Arial;
}

.car__item-name--white {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}

.car__item-name--white:hover {
    color: #F57E20;
    border-bottom: 2px solid #F57E20;
    cursor: pointer;
}

.h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
}

.h2{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
}

.h3{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
}

.h4{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
}

.arrow {
    width: 73px;
    height: 17px;
    margin: auto 0 auto 20px;
    stroke: #224089;
}

.arrow-left {
    width: 73px;
    height: 17px;
    margin: auto 20px auto 0;
    stroke: #224089;
}

.slider-arrow {
    width: 73px;
    height: 15px;
    margin: auto 15px;
    stroke: #224089;
}

/*.slider-arrow:hover~.watch-all-slider{*/
/*    stroke: #F57E20;*/
/*    fill: #F57E20;*/
/*    color: #F57E20;*/
/*}*/

.hidden-overflow {
    overflow: hidden;
}

.watch-all {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    cursor: pointer;
    color: #224089;
}

.watch-all-slider {
    display: flex;
    justify-content: flex-start;
    z-index: 6;
    position: relative;
    margin: 30px 0 0 50px;
    cursor: pointer;
    color: #224089;
}


.watch-all-know {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: auto;
    cursor: pointer;
    color: #224089;
}

.watch-all-black{
    display: flex;
    justify-content: flex-start;
    z-index: 6;
    position: relative;
    margin: 30px 0 0 50px;
    cursor: pointer;
    color: black;
}

.watch-all-white{
    display: flex;
    justify-content: flex-start;
    z-index: 6;
    position: relative;
    margin: 30px 0 0 50px;
    cursor: pointer;
    color: white;
}

.watch__all-p {
    margin: auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.white-a:hover{
    color: white;
}

.yellow-a:hover{
    color:yellow;
}

.black-svg{
    stroke: black;
}

.white-svg{
    stroke: white;
}

.watch-all:hover, .watch-all-know:hover, .watch-all-slider:hover {
    color: #F57E20;
    fill: #F57E20;
    stroke: #F57E20;
}

.watch-all-black:hover{
    color: white;
    stroke: white;
    fill: white;
}

.watch-all-white:hover{
    color: yellow;
    stroke: yellow;
    fill:yellow;
}

.watch-all:hover .arrow, .watch-all-know:hover .arrow, .watch-all-slider:hover .arrow {
    stroke: #F57E20;
}

.watch-all-know:hover .arrow-left{
    stroke: #F57E20;
}

.watch-all-black:hover .black-svg{
    stroke: white;
}

.watch-all-white:hover .white-svg{
    stroke: yellow;
}

.selected__header-link-brand {
    height: 190px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
}

.chose__mark {
    margin-top: 58px;
    margin-bottom: 90px;
    padding-bottom: 30px;
}

.chose__mark-toggle {
    margin-top: 25px;
    color: #224089;
    display: flex;
    border-bottom: 1px solid #EDEDED;
}

.tog-p {
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-left: 0;
    padding-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}


.selected {
    /*border-bottom: 3px solid #F57E20;*/
    color: #F57E20;
}

.tog-p:hover {
    color: #F57E20;
}


.border-r {
    border-right: 1px solid #EDEDED;
}

.item-img {
    cursor: pointer;
    width: 164px;
    height: 200px;
    margin-bottom: 46px;
    border-top: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
}

.space {
    margin-bottom: 100px;
}

.item-svg {
    width: 45px;
    height: 45px;
    fill: #F57E20;;
    display: none;
}

.item-svg:active {
    fill: #F5A020;
}

.catalog-item:hover .item-svg {
    display: inline;
}

.dop__articles {
    background-color: #FAFAFA;
    padding-top: 106px;
    padding-bottom: 60px;
}

.white {
    background-color: white;
}

.white-color{
    color: white;
}

.fill-white{
    fill: white;
    width: 9px!important;
    height: 8px!important;
}


.margin {
    margin-bottom: 34px;
}

.not-hover:hover {
    box-shadow: none!important;
}

.slider {
    background-color: #FAFAFA;
    height: 700px;
    /*background-color: white;*/
}

#sliderBuyMobile{
    display: none;
}

@media screen and (max-width: 700px) {
    #sliderBuyMobile {
        display: block;
    }    
    
    #sliderBuy{
        display: none;
    }
}

.banner-main {
    padding-top: 0;
    display: flex;
}

.banner-content {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0) 100%);
    height: 250px;
    width: 860px;
    z-index: 5;
    position: relative;
    margin: 0;
}

.banner-price {
    z-index: 6;
    position: relative;
    width: 50px;
    height: 250px;
    background: #F57E20;
}

.banner__price-p {
    width: 170px;
    margin-top: 115px;
    margin-left: -60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transform: rotate(-90deg);

    color: #FFFFFF;
}

.ban-img {
    z-index: 4;
    position: absolute;
}

.slider-news {
    height: 345px;
}

.banner-span {
    position: relative;
    z-index: 6;
    margin: 40px 0 0 50px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    width: 300px;
    height: 115px;
    display: block;
}

.boy {
    margin-top: -370px;
}

.boy-img {
    position: relative;
    height: 530px;
    left: 65%;
    z-index: 2;
}

.gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0.96%, rgba(0, 0, 0, 0) 100.96%);
    position: absolute;
    z-index: 5;
    width: 860px;
    height: 250px;
}

.weave-img {
    margin-top: -150px;
    width: 100%;
    z-index: 3;
    position: relative;
}

.flex {
    display: flex;
    width: auto;
}

.news {
    z-index: 4;
    margin-top: -190px;
    position: relative;
    margin-bottom: 110px;
    background-color: white;
}

.news-container {
    margin-top: 28px;
}

.block {
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

.block-out {
    width: 50%;
}

.block-date {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #CDCDCD;
}

.block-span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #224089;

}

.block-text {
    margin-top: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.block-img {
    width: 100%;
    margin-top: 20px;
}

.block-to {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F57E20;
}

.bold{
    font-weight: bold!important;
}

.border {
    border-bottom: 1px solid #EDEDED;
}

.blue-code{
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #224089;
    cursor: pointer;
    height: 18px;
}
.blue-code:hover{
    border-bottom: 1px solid #224089;
}

.news-chooser {
    margin-top: 22px;
    border-bottom: 1px solid #EDEDED;
    display: flex;
    justify-content: flex-end;
}

.btns-chooser {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    width: fit-content;
    margin-left: auto;
    margin-right: 50px;
    margin-top: -70px;
}

.btns {
    background-color: white;
    margin-bottom: -22px;
    padding-left: 22px;
}

.circle-btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0 0 0 5px;
}

.circle-btn:focus {
    outline: none;
}


.reverse {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.blue-btn {
    width: 45px;
    height: 45px;
    fill: #224089;
}

.blue-btn:hover {
    fill: #F57E20;
}

.blue-btn:active {
    fill: #F5A020;
}

.about {
    margin-top: 105px;
    margin-bottom: 200px;
}

.top-block-left {
    width: 40%;
}

.top-block-right {
    width: 45%;
}

.numbers {
    border-right: 1px solid;
}

.numbers-big {
    display: block;
    margin-left: auto;
    padding-right: 37px;

    font-weight: bold;
    font-size: 100px;
    line-height: 80px;
    text-align: right;
}

.numbers-text {
    margin-top: 10px;
    margin-bottom: 52px;
    padding-right: 37px;

    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.orange-numbers {
    color: #F57E20;
    margin-top: 105px;
}

.blue-numbers {
    color: #224089;
}

.about-description {
    margin-top: 41px;
    display: block;

    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.about-middle {
    margin-top: -170px;
}

.about__middle-svg {
    display: block;
    margin-left: auto;
}

.about-low {
    margin-top: -275px;
}

.about__low-block {
    width: 45%;
    margin-left: auto;
}

.block-small {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.block a {
    cursor: pointer;
}


.left {
    text-align: left;
}

.my-link {
    cursor: pointer;
}

.phone-big{
    display: none!important;
}


@media screen and (max-width: 900px) {
    .phone-big{
        display: block!important;
    }
    .no-flex-mobile {
        display: block;
    }

    .item-img {
        margin-bottom: 16px;
    }

    .margin {
        display: none;
    }

    .boy {
        display: none;
    }

    .weave-img {
        display: none;
    }

    .slider {
        height: 400px;
    }

    .news {
        margin-top: 50px;
    }

    .ban-img {
        max-width: none;
        object-fit: cover;
        object-position: 50% 50%;
        height: 100%;
        width: 100%;
    }

    .btns-chooser {
        display: none;
    }

    .flex {
        flex-flow: row wrap;
    }

    .watch-all {
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 10px;
    }

    .watch-all-slider{
        margin: 10px 0 0 20px;
    }

    .banner-span {
        height: 65px;
        width: fit-content;
        margin-top:30%;
        margin-bottom: auto;
        margin-left: 20px;

        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
    }


    .selected__header-link-brand {
        overflow: scroll;
    }

    .chose__mark {
        padding-bottom: 16px;
        margin-bottom: 27px;
    }

    .margin50 {
        margin-bottom: 50px;
    }

    .slider-news {
        width: 800px;
        height: 500px;
    }

    .block {
        width: 80%;
    }

    .news-chooser {
        display: none;
    }

    .news {
        margin-bottom: 50px;
        border-bottom: 1px solid #EDEDED;
        height: 620px;
    }

    .about {
        margin-top: 0;
        margin-bottom: 100px;
    }

    .flex-around {
        flex-flow: row wrap;
    }

    .top-block-left {
        width: 100%;
    }

    .top-block-right {
        width: 100%;
    }

    .numbers-big {
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        text-align: right;
    }

    .orange-numbers {
        margin-top: 30px;
    }

    .about-middle {
        margin-top: 0;
    }

    .about-low {
        margin-top: -30px;
    }

    .about__low-block {
        width: 100%;
    }

    .stratosfera {
        margin-top: 12px;
    }

    .border-r {
        border-right: none;
    }

    .gradient {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0.96%, rgba(0, 0, 0, 0) 100.96%);
    }

}

.star-after{
    width: 8px;
    height: 8px;
    fill: #F57E20;
    position: relative;
    /*margin-left: 255px;*/
    /*margin-left: 19%;*/
    margin-top: -40px;
    margin-left: 92%;
}

.star-after-promo{
    width: 8px;
    height: 8px;
    fill: #F57E20;
    position: absolute;
    margin-left: 242px;
    margin-top: 8px;

}

/*@media screen and (max-width: 1300px) {*/
/*    .star-after {*/
/*        margin-left: 232px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
/*    .star-after {*/
/*        margin-left: 214px;*/
/*    }*/
/*}*/

.lupa{
    fill:white!important;
    stroke: white;
    width: 23px;
    height: 23px;
}

.strong{
    margin:0;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color:black;
}

.strong-a{
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: #F57E20;
}

.h-100pr{
    height: 100%;
}

.w-40pr{
    width: 40%;
}

.w-45pr{
    width: 46%!important;
}

.w-100pr{
    width: 100% !important;
}

.w-95pr{
    width: 95%;
}

.w-85pr{
    width: 85%;
}

.w-80pr{
    width: 80% !important;
}

.w-70pr{
    width: 70%;
}

.w-65pr{
    width: 65%;
}

.w-63pr{
    width: 63%;
}

.w-60pr{
    width: 60%;
}

.w-53pr{
    width: 53%;
}

.w-50pr{
    width: 50%;
}

.w-35pr{
    width: 35%;
}

.w-31pr{
    width: 31%;
}

.w-30pr{
    width: 30%;
}

.w-25pr{
    width: 25%;
}

.w-20pr{
    width: 20%;
}

.w-18pr{
    width: 18%;
}

.w-14pr{
    width: 14%;
}

.w-13pr{
    width: 13%;
}

.w-12pr{
    width: 12%;
}

.w-11pr{
    width: 11%;
}

.w-10pr{
    width: 10%;
}

.w-7pr{
    width: 7%;
}

.w-15pr{
    width: 15%;
}

.w-16pr{
    width: 17%;
}

.w-17pr{
    width: 17%;
}

.w-18pr{
    width: 18%;
}

.w-65px{
    width: 65px;
}

.pointer{
    cursor: pointer;
}

.blue-color{
    color: #224089!important;
    fill: #224089!important;

    .reverse-h{
        fill: #224089!important;
    }
}


/*CUSTOM VALUE CHECKER*/
.custom-value-checker{
    .number {
        display: inline-block;
        position: relative;
        width: 160px;
        outline: none;
        border: none;
    }
    .number input[type="number"] {
        background: #EDEDED;
        outline: none;
        border: none;
        display: block;
        height: 50px;
        line-height: 32px;
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }
    .number input[type="number"]::-webkit-outer-spin-button,
    .number input[type="number"]::-webkit-inner-spin-button {
        outline: none;
        display: none;
        border: none;
    }
    .number-minus {
        cursor: pointer;
        color: #224089;
        background: #EDEDED;
        outline: none;
        position: absolute;
        top: 1px;
        left: 16px;
        bottom: 1px;
        width: 20px;
        padding: 0;
        display: block;
        text-align: center;
        border: none;
        font-size: 16px;
        font-weight: 600;
    }
    .number-plus {
        cursor: pointer;
        color: #224089;
        background: #EDEDED;
        outline: none;
        position: absolute;
        top: 1px;
        right: 16px;
        bottom: 1px;
        width: 20px;
        padding: 0;
        display: block;
        text-align: center;
        border: none;
        font-size: 16px;
        font-weight: 600;
    }
}
