@import "../variables.css";
@import "../media.css";

* {
}

.pay-delivery{
    width: 90%;
}

.pay-tab-unit{
    .blue{
        width: 270px;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #224089;
    }

    .delivery-time{
        margin-top:4px;
        margin-right: 12px;
        width: 35px;
        height: 35px;
        fill: none;
    }
}

.absolute-relication{
    position: absolute;
    margin-top: -8px;
}

@media screen and (max-width: 900px) {
    .pay-delivery{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
}

