@import "../variables.css";
@import "../media.css";

* {
}

.pay-map{
    width: 76%;
    height: 450px;
}

@media screen and (max-width: 900px) {
    .pay-map {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
}

