@import "../variables.css";
@import "../media.css";

* {
}

.pay_main{
    display: flex;
    justify-content: space-between;
}

.pay-tab-unit{
    width: 24%;
}

.pay-details_left-menu{
    width: 25%;
}

.pay-common{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.pay-big-orange{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #F57E20;
}

@media screen and (max-width: 900px) {
    .pay_main{
        flex-flow: wrap;
    }
    .pay-tab-unit{
        width: 40%;
        margin:10px auto 20px;
    }
}

@media screen and (max-width: 600px){
    .pay-tab-unit{
        width: 100%;
    }
}

