@import "../variables.css";
@import "../media.css";

* {
}


.product-eyes{
    margin-top: 26px;
    height: 400px;
    border: 1px solid #EDEDED;
}

.product-slider{
    width: 42%;
    height: 100%;
    border-right: 1px solid #EDEDED;
}

.gallery-top{
    height: 75%;
}

.gallery-thumbs{
    height: 25%;
}

.info_top-prod-inner{
    padding-top: 10px;
    margin-bottom: 4px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #EDEDED;

p{
    margin-top: 0;
}

.article-prod{
    margin-right: 30px;
}
}

.product-fast_info{
    width: 58%;
    padding:23px 30px;



    .grey{
        margin-right: 3px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .blue{
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #224089;
    }
}



.strong-small{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

.star-product{
    width: 20px;
    height: 20px;
    margin:0 0 auto auto;
}

.money{
    width: 22px;
    height: 20px;
    margin-right: 10px;
    margin-left: 4px;
}

.time{
    width: 26px;
    height: 25px;
    margin-right: 10px;
    margin-top:-4px;
}

.info-inner{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    padding-top:30px;
    padding-bottom:6px;

    p{
        margin-top: 0;
    }

    .article-prod{
        margin-right: 30px;
    }

    .price-time{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #224089;
    }

    .big_money{
        margin-left: 5px;
        color:#F57E20;
        font-weight: bold;
        font-size: 24px;
        line-height: 18px;
    }

    .serial{
        margin-left: 18px;
        margin-right: 3px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #224089;
    }



    .basket{
        margin-left: auto;
        margin-top: -4px;
    }

    .product-circle{
        width: 18px;
        height: 18px;
        margin:auto 3px;
        fill: white;
    }
}

.icon-basket{
    cursor: pointer;
    width: 28px;
    height: 24px;
    fill:#F57E20;
    stroke: #F57E20;
}

.rotated{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.back-to-catalog{
    margin-top: 18%;
}

.border-top{
    border-top: 1px solid #EDEDED;
}

.blue-p{
    margin-top: 12px;
    margin-bottom: auto;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #224089;
}

.cover{
    object-fit: cover;
}

.tab-first{
    margin-top:50px;
    border-bottom: 1px solid #EDEDED;
    padding-bottom:22px;

    .left{
        width: 28%;
        padding-right: 40px;
    }

    .right{
        width: 72%;
    }

    .right-p{
        margin-top:0;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #000000;
    }

    .row-info{
        display: flex;
        border-bottom: 1px solid #EDEDED;
    }

    .rows{
        border-top: 1px solid #EDEDED;
        margin-top:8px;
    }

    .grey{
        margin-right: 5px;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .common{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }
}

.deliveryy{
    width: 150px;
    height: 150px;
    left: 20px;
    fill:none;
    margin-top: 10px;
    margin-left: 45px;
}

.deliveryy-big{
    margin:0 auto;
    width: 165px;
    height: 165px;
    background-image: url('../images/icons/delivery-1.png');
    background-repeat: no-repeat;
}

.package{
    height: 80px;
    width: 80px;

    display: block;
    position: relative;
    bottom: 120px;
    left: 86px;
}

.tab-fourth{
    margin-top:50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #EDEDED;
}

.tab-unit{
    width: 25%;

    .big-orange{
        display: block;
        margin-top:24px;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #F57E20;
    }

    .blue{
        width: 270px;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #224089;
    }

    .delivery-time{
        margin-top:4px;
        margin-right: 12px;
        width: 35px;
        height: 35px;
        fill: none;
    }
}

.tab-unit-item{
    width: 200px;
}

.timetable{
    .text{
        max-width: 260px;
    }

    .text-2{
        max-width: 200px;
    }
    .special{
        line-height: 16px;
        margin-bottom: 8px;
    }
    p{
        margin:0;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
    }
    a{
        margin-top:14px;
        display: block;
    }
    .bold{
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
}

.margin-t-6{
    margin-top:6px;
}

.margin-t-10{
    margin-top: 10px;
}

.margin-t-12{
    margin-top: 12px!important;
}

.margin-t-15{
    margin-top: 15px;
}

.margin-t-40{
    margin-top: 40px;
}

.margin-t-50{
    margin-top: 50px;
}

.margin-t-20{
    margin-top: 20px;
}

.margin-t-0{
    margin-top:0;
}

.margin-b-0{
    margin-bottom: 0!important;
}

.margin-b-6{
    margin-bottom: 6px;
}

.margin-t-m-10{
    margin-top:-10px;
}

.answer-grey{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-top: 13px;

    stroke: #224089;
    fill: white;

}

.answer-grey:hover{
    fill: #224089!important;
    stroke: white;
}


.answer-grey:hover + .hover-card-product{
    display: block!important;
}


.answer-grey:hover + .hover-card-registration{
    display: block!important;
}

.answer-grey:hover + .hover-card-auth{
    display: block!important;
}

.answer-grey:hover + .hover-card-product-attention{
    display: block!important;
}

.info-icons:hover + .hover-card-product{
    display: block!important;
}

.info-icons:hover + .hover-card-product-attention{
    display: block!important;
}

.info-icons:hover + .hover-card-product-info{
    display: block!important;
}


.info-icons:hover + .hover-card-registration{
    display: block!important;
}

.info-icons:hover + .hover-card-basket{
    display: block!important;
}

.i-icon:hover + .hover-card-product-attention{
    display: block!important;
}

.hover-special{
    position: relative;
    margin-left: auto;
    margin-right: 4%;
    margin-top: -44px;
}

.hover-card-product{
    width: 250px;
    display: none;
    margin-top: -100px;
    margin-left: 15px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:30px;
}

.hover-card-registration{
    display: none;
    width: 250px;
    margin-top: -130px;
    margin-left: 15px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:30px;
}

.hover-card-auth{
    display: none;
    /*width: 250px;*/
    /*width: 365px;*/
    margin-top: -110px;
    /*margin-left: 0;*/
    /*margin-left: -318px;*/
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:30px;
}

.hover-card-basket{
    z-index: 10;
    display: none;
    margin-top: -345px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 30px;

    .circle-into{
    position: absolute;
    margin-left: 42px;
    margin-top: -140px;

        .big-green{
            margin-bottom: 16px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            line-height: 18px;
            color: #4BC06F;
        }

        .common{
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #000000;

        }
}


}

.hover-card-product-attention{
    display: none;
    width: 250px;
    margin-top: -150px;
    margin-left: -100px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:30px;
}

.hover-card-product-info {
    z-index: 10;
    display: none;
    margin-top: -300px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.margin-t-140{
    margin-top: -140px!important;
}

.price_table-head{
    width: 96%;
    margin: 8px auto 0;
}

.analogs{
    margin-top: 26px;
    text-align: left;
    margin-right: auto;
    margin-left: 0;
    width: fit-content;
}

@media screen and (min-width: 1000px) {
    .delivery_price-table{
        &.hide {
            .price_table-head-unit {
        &:not(:last-child) {
             opacity: 0;
         }
        &:last-child {
             width: 12%;
         }
        }
        }
    }
}

.delivery_price-table{
    min-height: 40px;
    width: 100%;



    .grey{
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .price_table-head-unit{
        display: flex;

    }

    .price_table-level{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding:0 2%;
        margin:0 auto;
    }

    .price_table-level-unit{
        display:flex;
        .bold{
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }

        .green-p{
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #4BC06F;
        }
    }

    .delivery-common{
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #224089;
    }

    .special{
        background-color: #EBFAF0;
    }
    .common{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
    .info-icons{
        margin-top:14px;
        margin-left: 12px;
    }

}

.green{
    color: #119A3B;
}

.green-light{
    color: #4BC06F;
}

.blue{
    color: #224089;
}

.info-icons{
    height: fit-content;
    cursor: pointer;
}

.icon-basket-blue{
    margin-top: 12px;
    margin-bottom: auto;
    margin-left: auto;
    width: 28px;
    height: 24px;
    fill:#224089;
    stroke: #224089;
    cursor: pointer;
}

.margin-auto{
    display: block;
    margin:auto;
}

.delivery_use-table{

    .use_table-head{
        margin-top: 8px;
        width: 100%;
    }

    .use_table-level{
        display: flex;
        width: 100%;
        margin:0 auto;
    }

    .bold{
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }

    .common{
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }

    .grey{
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

}

.use_table-body{
    .border-desktop{
        border-bottom: 1px solid #EDEDED;
    }
}

.grey-phone{
    display: none;
}

.phone{
    display: none;
}

.level-info-product{
    display: block;
    margin-left: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px!important;
    color: #000000;
}

.time-modal{
    width: 35px;
    height: 35px;
    fill:none;
    margin-right: 15px;
    margin-top: 4px;
}

.right_info-data{
    p{
        margin-top: 0;
        margin-bottom: 6px;
    }
}

.modal-unit{
    margin-bottom: 10px;
}

.big-circle{
    margin-top: 18px;
    margin-right: 30px;
    stroke: #4BC06F;
    fill: none;
    width: 164px;
    height: 164px;
}

.shield{
    width: 25px;
    height: 29px;
    margin-right: 8px;
}

.shield-text{
    margin-top: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #4BC06F;
}
.left-circle_bottom{
    margin-top: 8px;
}

.circle-into{
    position: absolute;
    margin-left: 42px;
    margin-top: -100px;

    .big-green{
        margin-bottom: 16px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        line-height: 26px;
        color: #4BC06F;
    }

    .common{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
    }
}

.circle-product{
    margin-top: -140px;
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .info-inner {
        .big_money {
            line-height: 26px;
        }
    }
}


@media screen and (max-width: 800px) {
    #sliderCard{
        /*display: none;*/
        .btns-chooser{
            display: block;
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }

    .product-eyes{
        flex-flow: wrap;
    }

    .product-slider{
        width: 80%;
        height: 80%;
        margin:auto;
    }

    .back-to-catalog{
        margin-top: 10px;
    }

    .gallery-thumbs{
        display: none;
    }

    .hover-card-product-info {
        width: 80%;
        margin-top: -50%;
        margin-left: 5%;
    }

    .left-circle{
        margin:auto;
    }

    .big-circle{
        margin-top: 0;
        margin-right: 0;
    }

    .circle-product{
        margin-top: -100px;
    }

    .modal-unit{
        width: 100%!important;
        margin-top:10px!important;
    }

    .tab-unit .blue{
        margin-top: 4px;
        margin-bottom: 4px;
        width: fit-content;
    }

    .product-fast_info{
        width: 100%;
        padding:12px 0 ;
    }

    .product-eyes{
        height: fit-content;
        /*border-top: none;*/
        border-right: none;
        border-left: none;
    }

    .product-fast_info .info_top-inner .article-prod{
        margin-right: 4px;
        flex-flow: row nowrap;
    }

    .product-fast_info .info_top-inner .brand{
        flex-flow: row nowrap;
    }

    .info-inner{
        border-bottom: none;
        padding-top:10px;
        line-height: 20px;
        flex-flow: row wrap;
        .big_money{
            font-size: 16px;
        }
        .price-time{
            font-size: 14px;
            line-height: 14px;
        }
        .time, .money{
            display: none;
        }
        .serial{
            margin-left: 8px;
        }
    }


    .chose__mark-toggle{
        overflow-x: scroll;
    }

    .tog-p{
        white-space: nowrap;
    }

    .current .tog__p-tog__a{
        padding-bottom: 16px!important;
    }

    .tab-unit{
        width: 100%;
    }

    .deliveryy-big{
        display: none;
    }

    .timetable .text-2{
        max-width: none;
    }

    .timetable .text{
        max-width: none;
    }


    .tab-first{
        .rows{
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            border-top: none;
            margin-bottom: 20px;
        }
        .left{
            width: 100%;
            padding-right: 0;
        }
        .row-info{
            width: 47%;
        }
        .right{
            width: 100%;
        }
    }

    .use_table-head{
        /*min-width: 887px;*/
        overflow-x: scroll;
        flex-flow: row nowrap;
        display: none;
    }


    .use_table-body{
        .border-desktop{
            border-bottom: none;
        }
    }

    .delivery_use-table{
        .use_table-level{
            flex-flow: row wrap;
            height: 90px;
            flex-direction: column;
            border-bottom: 1px solid #EDEDED;
            padding-top:10px;
        }

        .use_table-level-unit{
            width: 30%;
            display: flex;
        }

        .use_table-level-unit-custom{
            width: 16%;
            display: flex;
            height: 100%;
        }

    }

    .delivery_price-table {
        .common {
            margin: 6px 0 0;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #224089;
            border-bottom: 1px dotted;
            height: fit-content;
        }

    }

    .grey-phone{
        margin:5px 6px 0 0;
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .price_table-level-unit{

    }

    .phone {
        display: block;
    }



    .price_table-head-unit{
        display: none!important;
    }

    .delivery_price-table {

        .price_table-level {
            flex-flow: row wrap;
            height: 90px;
            flex-direction: column;
            border-bottom: 1px solid #EDEDED;
            padding-top:10px;
        }


        .price_table-level-unit{
            height: 25px;
            width: 46%;
            display: flex;
            p{
                margin:0;
            }
            .bold{
                height: 40px;
            }
        }
        .info-icons{
            margin-top: 0;
        }
        .answer-grey{
            display: none;
        }
        .icon-basket-blue, .icon-basket{
            margin-left: 0;
        }
        .blue-p{
            display: none;
        }
    }
}

@media screen and (max-width: 420px){
    .product-slider{
        width: 100%;
        height: 100%;
        margin:auto;
    }

    .big_money{
        width: 75%;
    }
    .info-inner {
    .basket{
        margin-top: -20px;
    }
    .serial{
        margin-left: 0;
    }
    }
    .price_table-level-unit{
        width:fit-content!important;
    }
    .price_table-level-unit:nth-child(2){
        min-width: 150px;
    }
}

.padding-0{
    padding: 0!important;
}
