@import "../variables.css";
@import "../media.css";

* {
}

.provider-subtitle{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.provider-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.provider-first_block{
    display: flex;
    justify-content: space-between;
}

.provider-first_block-left{
    width: 48%;
}

.provider-first_block-right{
    width: 49%;
}

.provider-img{
    margin-top:5px;
    width: 100%;
}

.provider-svg-abs{
    margin-left: 60px;
    margin-top: 34px;
    width: 305px;
    height: 324px;
    fill: transparent;
    stroke: transparent;
    position: absolute;
}

.provider-svg-rel{
    margin-left: 35%;
    margin-top: -225px;
    width: 305px;
    height: 324px;
    fill: transparent;
    stroke: transparent;
    position: relative;
}

.write-provider{
    min-width: 35px;
    width: 35px;
    height: 35px;
    fill:transparent;
}

.left-align{
    text-align: left;
}

.provider-level{
    margin:auto auto auto 30px;
}



@media screen and (max-width: 1000px) {
    .provider-level{
        margin:auto auto auto 10px;
    }
}

@media screen and (max-width: 800px){
    .provider-first_block {
        flex-flow: wrap;
        margin-bottom: 20px;
    }
    .provider-first_block-left{
        width: 100%;
        margin-top: 20px;
    }
    .provider-first_block-right{
        width: 100%;
    }
    .provider-svg-abs, .provider-svg-rel{
        display: none;
    }
    .menu-flex{
        margin-bottom: 0;
    }
}

