@import "../variables.css";
@import "../media.css";

.relocation{
    margin-top:30px;
    display: flex;
    width: 100%;
    padding-top:20px;
    padding-bottom: 18px;
}

.registration-back{
    width: fit-content;
}

.registration-back-low{
    width: fit-content;
    margin-top: -10px;
}

.registration-town{
    margin:0 10px;
}

.registration-buyer{
    margin-top:30px;
}

.registration-inputs{
    margin-top: 18px;
    width: 75%;
}

.registration-level{
    margin-top:20px;
}

.registration-level-small{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.label-delivery-first{
    margin:0 0 29px;
    width: 53%;
}

.label-delivery-common{
    margin:0 0 29px;
    width: 20%;
}

.registration-company, .registration-delivery, .registration-pay, .registration-content, .registration-confirmation{
    margin-top: 60px;
}

.modal-radio{
    margin:20px 5% 20px 0!important;
}

.registration_company-radio{
    width: 75%;
}

.registration-delivery{
    width: 75%;
}

.register-radio{
    width: 32%;
    margin-right: 3%;
}

.register-radio:last-child{
     width: 32%;
     margin-right: 0;
 }

.registration-pay{
    width: 75%;
}

.border-duo{
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}

.registration-comment{
    margin-top: 60px;
    width: 75%;

}

.common{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.hidden{
    visibility: hidden;
}

.small{
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.big-textarea{
    background: #F2F2F2;
    height: 150px;
    width: 100%;
    padding:20px;
    border:none;
    outline: none;
    resize: none;
}



@media screen and (max-width: 1000px) {
    .content-table, .registration-comment, .registration-pay, .registration-delivery, .registration_company-radio, .registration-inputs{
        width: 100%;
    }

    .header-location__img{
        margin: 0!important;
    }

}

@media screen and (max-width: 600px){
    .phone-wrap{
        flex-flow: row wrap!important;
        label{
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .register-radio{
        width: 50%;
    }

    .border-duo+.hidden{
        display: none;
    }

    .registration-level-small{
        flex-flow: wrap;
    }

    .label-delivery-first{
        margin:0 0 29px;
        width: 100%;
    }

    .label-delivery-common{
        margin:0 0 29px;
        width: 48%;
    }
}
