@import "../variables.css";
@import "../media.css";

* {
}

.items-parts{
    margin-top: 45px;
}

.left-menu_toggle-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #224089;
}

.left-toggle{
    display: none;
    margin-top: 10px;
}


#left-toggle:checked + .left-toggle{
    display: block;
}

.left-toggle:checked + .left-toggle{
    display: block;
}

.rotate{
    transform: rotate(-180deg);
}

.left-toggle-inp:checked + .left-toggle{
    display: block;}

.vector{
    width: 10px;
    height: 6px;
    margin-right: 15px;
    fill:#224089;
}

.vector-filter {
    width: 10px;
    height: 6px;
    margin-right: 15px;
    margin-top: 4px;
    fill: #F57E20;
}

.vector-filter-footer {
    width: 17px;
    height: 10px;
    /*margin-right: 15px;*/
    /*margin-top: 4px;*/
    margin-top: auto;
    margin-left: 5px;
    margin-bottom: auto;
    /*fill: #F57E20;*/
    fill: #224089;
}

.reverse-h{
    transform: rotate(-180deg);
}


.left-element{
    margin-top: 15px;
    padding-left: 30px;
    display: block;
    cursor: pointer;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #224089;
}

.menu-item{
    margin-bottom: 15px;
}

.details_left-menu{
    width: 28%;
}

.details_content{
    width: 72%;
}

.custom_find-input-ts{
    background: #F2F2F2;
    width: 360px;
    height: 50px;
    outline: none;
    border: none;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
}
.custom_find-input-ts::placeholder{
    color: #C6C6C6;
}

.detail-head{
    margin-top: 50px;
}

.detail-name{
    margin-bottom: 10px;
    color:black;
}

.detail_body-left{
    width: 40%;
    border-right: 1px solid #EDEDED;
}

.detail_body-right{
    width: 60%;
}

.where-p{
    margin:0;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #B6B6B6;
}

.where-a{
    margin-left:5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #224089;
}

.left-name{
    display: block;
    text-align: left;
    margin-top:26px;
    margin-right: 12px;
    color:black;
}

.right-table{
    padding:10px 0 10px 30px;
}

.level-number{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.level-a{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #224089;
}

.table-level {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    margin-top:14px;
    margin-bottom:10px;

    .table_common-p, .table-strong {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .level-number{
        margin:0;
    }

    .level-a{
        margin:0;
    }

    .level-grey{
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
        p{
            margin:0;
        }
    }

    .level-answer{
        margin-left: auto;
        text-align: right;
    }



.level-grey-other{
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B6B6B6;
        p{
            margin:0;
        }
    }
}

.level-info{
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.answer{
    stroke: #224089;
    fill: white;
    width: 18px;
    height: 18px;
}

.answer:hover{
    fill: #224089!important;
    stroke: white;
}

.hover-card{
    display: none;
    margin-top: -200px;
    margin-right: -140px;
    position: absolute;
    background-color: white;
    width: 350px;
    height: 190px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding:30px;
}

.answer:hover + .hover-card{
    display: block!important;
}


.left{
    text-align: left;
    margin-right: auto!important;
}

.detail-where{
    margin-left: auto;
    width: 200px!important;
    margin-top:10px;
}

.mosaic{
    margin-top: 30px;
    border-left: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}

.selected-unit{
    border: 1px solid #F57E20!important;
    z-index: 2;
}

.mosaic-unit{
    width: 33.3%;
    padding:50px 18px 20px;
    border-right:1px solid #EDEDED;
    border-bottom:1px solid #EDEDED;
    background-color: white;
    cursor:pointer;

    &:hover{
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
         /*border: 1px solid #F57E20;*/
         z-index: 2;
         border:none;
     }

     &:hover .mosaic-a{
          color:#F57E20;
      }

    img{
        margin-bottom: 40px;
    }

    .mosaic-a{
        display: block;
        margin:40px auto 0;
        text-align: center;

        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #224089;
        &:hover{
            color:#F57E20;
         }
    }
}


@media screen and (max-width: 1000px)  {
    .items-parts{
        flex-flow: row wrap;
    }

    .details_left-menu{
        width: 100%;
    }

    .details_content{
        width: 100%;
    }

    .detail-where{
        margin-left: auto;
        width: 200px!important;
    }

    .level-answer{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .right-table{
        padding: 0;
    }

    .mosaic-unit{
        width: 50%;
    }

    .detail-head{
        border-bottom: none;
    }

    .detail-body{
        flex-flow: row wrap;
    }

    .detail_body-left{
        width: 300px;
        margin:10px auto 20px;
        border-right: none;
    }

    .detail_body-right{
        width: 100%;
    }

    .level-number{
        margin: 0 15px 0 0!important;
    }

    .custom_find-input-ts{
        width: 320px;
 }
    }
