@import "../media.css";
@import "../variables.css";

.submenu {
    margin-top:10px;
    border-top: 2px solid #F57E20;
    display: none;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 250px;
    z-index: 2;
    transition: 0.5s ease-in-out;
}

.submenu::before{
    height: 10px;
    display: block;
    position: absolute;
    width: 250px;
    content: '  ';
    padding:10px;
    top: -15px;
}

.submenu__item{
    padding: 11px 0;
    margin:0 22px 0 30px;
    border-bottom: 1px solid #EDEDED;
    color: #224089;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

