@import "../variables.css";
@import "../media.css";

* {
}

.subscription{
    margin-top:30px;
    margin-bottom: 160px;
    width: 100%;
    height: 200px;
    background-color: #224089;
}

.subscription-big_orange{
    width: 235px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #F57E20;
}

.container_custom-column{
    display: flex;
    flex-flow: column;
    margin: auto;
    height: 100%;
}

.container_custom-flex{
    margin: auto 0;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}

.subscription-white_label{
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
}

.subscription-checkbox{
    top:14px;
}

.underscore-orange{
    border-bottom: 1px solid #F57E20!important;
}

@media screen and (max-width: 1000px) {
    .container_custom-flex{
        flex-flow: row wrap;
    }

    .subscription{
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 700px){

    .subscription{
        height: 400px;
    }
}

