@import "../variables.css";
@import "../media.css";

* {
}

.text-page-limit{
    width: 73%;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px){

}

