@import "../variables.css";
@import "../media.css";

* {
}

.price-info{
    /*display: flex;*/
    /*flex-flow: column;*/
    /*justify-content: flex-end;*/
    margin-top: auto;
    margin-bottom: 0;
}

.filter-toggle{
    max-width: 260px;
}

.price-filter{
    display: flex;
    cursor: pointer;
    margin-bottom: -10px;
    margin-top:13px;
}

.price_filter-item{
    height: 35px;
    width: 200px;
    background-color: #224089;
    vertical-align: middle;
    flex-flow: column;
    display: flex;

    span{
        vertical-align: middle;

        margin:auto;
        color:white;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
}

.selected-filter{
    height: 35px;
    width: 200px;
    border: 1px solid #224089;
    background-color: white;
    vertical-align: middle;
    flex-flow: column;
    display: flex;

    span{
        margin:auto;
        color: #224089;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
}


@media screen and (max-width: 1000px) {
    .filter-toggle{
        max-width: 100%;
    }
}

@media screen and (max-width: 700px){


}
