@import "../variables.css";
@import "../media.css";

* {
}

.vocabulary{
    width: 100%;
}

.vocabulary-blue-a{
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.45em;
    color: #224089;
}

.vocabulary-flex{
    display: flex;
    justify-content: space-between;
}

.vocabulary-numbers{
    width: 15%;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 800px){
    .vocabulary-flex{
        width: 100% !important;
        overflow-x: scroll;
    }
    .vocabulary{
        /*overflow-x: scroll;*/
    }
}

