<div class="container-custom articles ">
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-1.png" alt="article">
        </a>
        <a class="article-name">Шины</a>
        <a class="article-a">Летние</a>
        <a class="article-a">Зимние</a>
        <a class="article-a">Всесезонные</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-2.png" alt="article">
        </a>
        <a class="article-name">Диски</a>
        <a class="article-a">Литые</a>
        <a class="article-a">Штампованные</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-3.png" alt="article">
        </a>
        <a class="article-name">Щётки стеклоочистителя</a>
        <a class="article-a">Бескаркасные</a>
        <a class="article-a">Каркасные</a>
        <a class="article-a">Гибридные</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-4.png" alt="article">
        </a>
        <a class="article-name">Инструменты</a>
        <a class="article-a">Домкраты</a>
        <a class="article-a">Наборы</a>
        <a class="article-a">Рабочий инструмент</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-5.png" alt="article">
        </a>
        <a class="article-name">Автохимия</a>
        <a class="article-a">Смазки</a>
        <a class="article-a">Присадки</a>
        <a class="article-a">Ароматизаторы</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-6.png" alt="article">
        </a>
        <a class="article-name desktop">Электрооборудование</a>
        <a class="article-name mobile">Электро <br> оборудование</a>
        <a class="article-a">Аккумуляторы</a>
        <a class="article-a">Лампы и свет</a>
    </div>
    <div class="article">
        <a class="article-img">
            <img src="./images/content/article-7.png" alt="article">
        </a>
        <a class="article-name">Масла</a>
        <a class="article-a">Моторные</a>
        <a class="article-a">Трансмиссионные и ГУР</a>
    </div>
    <div class="article not-hover">
    </div>
</div>
