<% const data = {
    'title': 'Поиск акксесуаров',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/accessories.ejs")() %>

<!--<h1>Генеральный каталог страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
