<% const data = {
    'title': 'Карточка выбранного узла ТС',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/card-ts.ejs")() %>

<!--<h1>Генеральный каталог страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
