<% const data = {
    'title': 'Главная',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/main.ejs")() %>

<!--<h1>Главная страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
