<% const data = {
    'title': 'Страница 404',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/page404.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
