<% const data = {
    'title': 'Курьерская доставка',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/pay-delivery.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
