<% const data = {
    'title': 'Оплата',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/pay-main.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
