<% const data = {
    'title': 'Каталог выбраного ТС',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/selected-ts-category.ejs")() %>

<!--<h1>Генеральный каталог страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
