<% const data = {
    'title': ' template',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/Template.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
