<% const data = {
    'title': 'Текстовая страница',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/text-page.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
