<% const data = {
    'title': 'Доставка в другие города',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/town-delivery.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
