<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">О компании</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">О компании</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>
        <img src="./images/content/about-banner.png" alt="banner" class="about-company">
    </div>


    <div class="container-custom">
        <div class="about-top">
            <div class="flex-around">
                <div class="top-block-left">
                    <div class="numbers orange-numbers-about">
                            <span class="numbers-big">
                                20 000
                            </span>
                        <p class="numbers-text">
                            Автозапчастей в наличии для автомобилей корейского производства
                        </p>
                    </div>
                    <div class="numbers blue-numbers">
                            <span class="numbers-big">
                                5 000 000
                            </span>
                        <p class="numbers-text">
                            Наименований товаров доступны под заказ в нашем интернет-магазине
                        </p>
                    </div>
                </div>
                <div class="top-block-right">
                    <span class="about-description">
                            Компания «М Партс» специализируется на оптовых продажах
                            автокомпонентов для автомобилей иностранного производства.
                            Мы являемся официальным дистрибьютором торговых марок PARTS MALL (Корея),
                            GORDON (Тайвань).
                        </span>
                </div>
            </div>
        </div>
        <div class="about-middle">
            <img src="./images/content/biggest-boy-main.svg" alt="boy" class="about__middle-svg">
        </div>
        <div class="about-low flex-100">
            <div class="about__low-block-left">
                    <div class="numbers orange-numbers">
                            <span class="numbers-big">
                                2 000
                            </span>
                        <p class="numbers-text">
                            Свыше 2000 поставщиков
                        </p>
                    </div>
                    <div class="numbers blue-numbers">
                            <span class="numbers-big">
                                2 500
                            </span>
                        <p class="numbers-text margin-b-20">
                            Свыше 2500 клиентов
                        </p>
                    </div>
            </div>
            <div class="about__low-block">
                <p class="block-small">
                    Основное направление деятельности нашей компании, это оптовая и розничная продажа
                    запасных частей для автомобилей, мотоциклов, силовой и другой техники известных мировых
                    производителей. Компания предоставляет весь спектр услуг, связанных с данным видом
                    деятельности, - это подбор запасных частей по каталогам производителей, работа под
                    заказ, отправка товара в любую точку России своими силами или при помощи транспортных
                    компаний, оказание консультативной помощи нашим покупателям и многое другое.
                </p>
                <p class="block-small">
                    Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей
                    для автомобилей и мото-силовой техники за счет прямого сотрудничества с производителями
                    качественных запасных частей.
                </p>
                <p class="block-small">
                    На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных
                    частей для автомобилей, мотоциклов и другой техники , представленной на нашем рынке.
                    У нас поддерживаются в наличии товары, как для нового, так и для старого модельных рядов.
                </p>
            </div>
        </div>
        <div class="about-advantages margin-b-40">
            <span class="h2">Преимущества</span>
            <div class="flex-100 margin-t-10">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Конкурентные цены</p>
            </div>
            <div class="flex-100 margin-t-6">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Индивидуальный подход к каждому Партнёру</p>
            </div>
            <div class="flex-100 margin-t-6">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Доставка осуществляется по всей России</p>
            </div>
            <div class="flex-100 margin-t-6">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Высокая ликвидность предлагаемой продукции</p>
            </div>
            <div class="flex-100 margin-t-6">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Отлаженные бизнес-процессы в складской логистике</p>
            </div>
            <div class="flex-100 margin-t-6">
                <svg class=" i-icon about-true">
                    <use xlink:href="#about-true"/>
                </svg>
                <p class="common">Размещение заказов ONLINE или посредством электронной почты</p>
            </div>
        </div>
    </div>

    <div class="container-custom">
        <%- require('./logistica.ejs')() %>
    </div>

    <div class="space-small"></div>
</div>

