<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Api</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details ">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Api</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>
        <div class="provider-first_block">
            <div class="provider-first_block-left">
                <span class="h2">
                    Возможности
                </span>
                <div class="flex-100 margin-t-10">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Получать информацию о цене и количестве нужного товара на нашем складе</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Получать информацию об аналогах запрашиваемого товара</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Размещать у нас заказы</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Отправлять комментарии к заказам</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Отслеживать состояние ранее размещённых заказов</p>
                </div>
            </div>
            <div class="provider-first_block-right">
                <img src="./images/content/provider-3.png" alt="provider-3" class="provider-img">
                <svg class="i-icon provider-svg-rel">
                    <use xlink:href="#provider-svg-1"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="container-custom">
        <span class="h2">Преимущества внедрения API</span>
        <div class="margin-b-50">
            <%- require('./api-advantages.ejs')() %>
        </div>
        <div class="api-bc">
            <svg class=" i-icon documents-img">
                <use xlink:href="#api-5"/>
            </svg>
            <div class="documents-btn">
                <button class="content__phone-btn">Открыть документацию</button>
            </div>
        </div>
    </div>

    <div class="space-small"></div>
</div>

