<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Новости и акции</a>
                -
                <a href="" class="crumbs-a">GreenCool</a>
                -
                <a href="" class="crumbs-a">Антифриз Европейского качества H1</a>
            </p>
        </div>
    </div>

    <div class="container-custom catalog-details " >
        <span class="h1">GreenCool – Антифриз Европейского качества H1</span>
    </div>

    <div class="container-custom">
        <div class="brand_item-main border">
            <div class="brand_item-main-bar ">
                <div class="brand_item-main-advantage">
                    <div class="flex-100 wrap flex-space margin-b-20">
                        <span class="advantage-date_grey">10.05.2020</span>
                        <span class="advantage-orange">АКЦИЯ ДЕЙСТВУЕТ ДО 31.03.2020</span>
                    </div>
                    <p class="orange-subtitle orange-border-l">
                        Только до 31 марта 2020 года вы можете купить 200 литровую бочку оригинального
                        синтетического корейского масла GT Energy SN 5W-30 всего за 42 550 рублей!
                    </p>
                    <p class="advantage-common_p">
                        В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                        ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                        на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                        было открыто новое перспективное направление по производству автомобильной оптики.
                    </p>
                    <p class="advantage-common_p">
                        Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA, Daewoo, Toyota,
                        Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL, как для легковых автомобилей,
                        так и на коммерческий транспорт. Особое внимание уделяется продукции для автомобилей
                        и ГАЗ, поставляемой на Российский рынок. Завод имеет международный сертификат
                        ISO/TS 16949.
                    </p>
                    <p class="advantage-common_p">
                        <a class="orange_selected">
                            ISO/TS 16949:2002 (ИСО/ТУ 16949:2002)
                        </a>
                        — это международный отраслевой стандарт, разработанный для автомобильной
                        промышленности на основе стандартов ISO 9000 и американский стандарт QS — 9000,
                        устанавливающий требования к системам качества поставщиков.
                    </p>
                    <p class="advantage-bold_p orange-border-l">
                        В настоящее время Fortech Industries Inc. является производителем и поставщиком
                        широкого ассортимента автомобильных фильтров, колодок и сцеплений под торговой
                        маркой FORTECH как на внутренний рынок, так и на рынки Европы, Южной Америки и
                        Юго-Восточной Азии.
                    </p>
                </div>
                <div class="brand_item-main-advantage">
                    <span class="h2">
                        Преимущества бренда h2
                    </span>
                    <img src="./images/content/news-big-2.png" alt="news" class="brand_item-content_block-img margin-t-30">
                    <p class="advantage-common_p">
                        В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                        ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                        на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                        было открыто новое перспективное направление по производству автомобильной оптики.
                    </p>
                    <p class="advantage-common_p">
                        Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA,
                        Daewoo, Toyota, Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL,
                        как для легковых автомобилей, так и на коммерческий транспорт.
                    </p>
                    <img src="./images/content/news-big-3.png" alt="news" class="brand_item-content_block-img margin-t-30">
                    <p class="advantage-common_p">
                        Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                        Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                        ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                        разработанный для автомобильной промышленности на основе стандартов ISO 9000 и
                        американский стандарт QS — 9000, устанавливающий требования к системам качества поставщиков.
                    </p>
                </div>
                <div class="brand_item-main-advantage">
                    <span class="h3">
                        Преимущества бренда h3
                    </span>
                    <ul class="advantage-ul">
                        <li class="advantage-li">
                            <p>Fortech Indusctries Inc. производит продукцию для
                                автомобилей Hyundai, KIA, Daewoo, Toyota, Nissan,
                                Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL,
                                как для легковых автомобилей, так и на коммерческий
                                транспорт.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>
                                Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                                Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>
                                ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                                разработанный для автомобильной промышленности на основе стандартов ISO 9000
                                и американский стандарт QS — 9000, устанавливающий требования к системам
                                качества поставщиков.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="brand_item-main-advantage">
                    <span class="h4">
                        Галерея h4
                    </span>
                    <div class="flex-100 flex-space wrap">
                        <img src="./images/content/brand-1.png" alt="brands" class="brand-img margin-t-30">
                        <img src="./images/content/brand-2.png" alt="brands" class="brand-img margin-t-30">
                        <img src="./images/content/brand-3.png" alt="brands" class="brand-img">
                        <img src="./images/content/news-1.png" alt="brands" class="brand-img">
                    </div>
                    <div class="margin-t-m-10">
                    <div class="watch-all-know">
                        <svg class=" i-icon arrow-left rotated">
                            <use xlink:href="#arrow"/>
                        </svg>
                        <a class="watch__all-p">Назад к списку</a>
                    </div>
                    </div>
                </div>


            </div>
            <div class="brand_item-main-bar">
                <div class="brand_item-content_block">
                    <img src="./images/content/news-big-1.png" alt="news" class="brand_item-content_block-img">
                    <a href="" class="brand_item-content_block-link">sitename.ru</a>
                    <a href="" class="brand_item-content_block-link">Каталог производителя</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-custom">
        <span class="h2">Смотрите также</span>
        <%- require('./news-slider.ejs')() %>
    </div>

    <div class="space"></div>
</div>

