<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Бренды</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <span class="h1">Бренды</span>
        <div class="brands-details">
            <div class="brands_details-flex">
                <div>
                    <svg class=" i-icon lupa-find ">
                        <use xlink:href="#lupa"/>
                    </svg>
                    <input type="text" placeholder="Быстрый поиск по брендам" class="custom_find-input-ts">
                </div>
                <div class="brands-numeration">
                    <%- require('./numeration.ejs')() %>
                </div>
            </div>
        </div>
        <%- require('./vocabulary.ejs')() %>
        <div class="letters-brands">
            <span class="letters_brands-big_orange">A</span>
            <div class="letters_brands-blocks">
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
            </div>
        </div>
        <div class="letters-brands">
            <span class="letters_brands-big_orange">B</span>
            <div class="letters_brands-blocks">
                <%- require('./brands-blocks.ejs')() %>
            </div>
        </div>
        <div class="letters-brands">
            <span class="letters_brands-big_orange">C</span>
            <div class="letters_brands-blocks">
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
                <%- require('./brands-blocks.ejs')() %>
            </div>
        </div>
        <div class="letters-brands">
            <span class="letters_brands-big_orange">D</span>
            <div class="letters_brands-blocks">
                <%- require('./brands-blocks.ejs')() %>
            </div>
        </div>
        <div class="margin-t-30">
            <%- require('./vocabulary.ejs')() %>
        </div>
        <div class="margin-t-30">
            <%- require('./numeration.ejs')() %>
        </div>
    </div>
    <div class="space"></div>
</div>

