<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Каталог оригинальных запчастей</a>
                -
                <a href="" class="crumbs-a">Оригинальные запчасти для Hyundai Solaris седан 1.6</a>
            </p>
        </div>
    </div>

    <div class="container-custom catalog-details">
        <span class="h1">31-310: Топливная система</span>
    </div>

    <div class="container-custom">
        <%- require('./innovation-chose.ejs')() %>
    </div>

    <div class="container-custom">
        <div class="seo-text">
            <p class="h2">
                Каталог оригинальных частей
            </p>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

