<div class="registration-confirmation">
    <span class="h4">Вам нужно подтвердить все условия поставки товара</span>
    <div class="checkboxes margin-t-20">
        <div class="checkers">
            <div class="checkbox">
                <label for="check-reg-time" class="checkbox__label">
                    <input type="checkbox" id="check-reg-time" class="checkbox__input">
                    <div class="checkbox__emulator ">
                        <svg class=" i-icon fill-white">
                            <use xlink:href="#checked"/>
                        </svg>
                    </div>
                    <div class="checkbox__text">
                        <span class="black">Я принимаю условия доставки, оплаты заказа, подтверждаю адрес и правильность сроков </span>
                    </div>
                </label>
            </div>

            <div class="checkbox">
                <div class="checkbox__label">
                    <input type="checkbox" id="check-reg-politica" class="checkbox__input"
                           data-input-required="checkbox">
                    <div class="checkbox__emulator">
                        <svg class=" i-icon fill-white">
                            <use xlink:href="#checked"/>
                        </svg>
                    </div>
                    <div class="checkbox__text">
                        <label for="check-reg-politica" class="black pointer">Я согласен с условиями
                            <a class="blue-color">оферты</a> и
                            <a class="blue-color">политикой конфиденциальности</a></label>
                    </div>
                </div>
            </div>

            <div class="checkbox">
                <label for="check-reg-recover" class="checkbox__label">
                    <input type="checkbox" id="check-reg-recover" class="checkbox__input">
                    <div class="checkbox__emulator ">
                        <svg class=" i-icon fill-white">
                            <use xlink:href="#checked"/>
                        </svg>
                    </div>
                    <div class="checkbox__text">
                        <span class="black"> Я подтверждаю заказ товаров, возврат которых возможен только по причине брака или пересорта</span>
                    </div>
                </label>
            </div>

            <div class="checkbox">
                <label for="check-reg-checked" class="checkbox__label">
                    <input type="checkbox" id="check-reg-checked" class="checkbox__input">
                    <div class="checkbox__emulator ">
                        <svg class=" i-icon fill-white">
                            <use xlink:href="#checked"/>
                        </svg>
                    </div>
                    <div class="checkbox__text">
                        <span class="black"> Я проверил и согласен со сроками доставки</span>
                    </div>
                </label>
            </div>

        </div>
    </div>
</div>
