<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Контакты</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Контакты</span>
                <div class="relocation-contacts">
                    <span class="common">Контактная информация в</span>
                    <div class="registration-town">
                        <div class="header__location ">
                            <svg class=" i-icon header-location__img-registration orange">
                                <use xlink:href="#icon-location"/>
                            </svg>
                            <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                               data-src="#chose-town">г. Москва</a>
                        </div>
                    </div>
                </div>
                <div class="contacts-levels">
                    <div class="flex-100 margin-b-15">
                        <svg class=" i-icon contacts-svg">
                            <use xlink:href="#contacts-svg-1"/>
                        </svg>
                        <a href="tel:+74992818180" class="big-black margin-l-30 margin-t-10">
                            +7 (499) 281-81-80
                        </a>
                    </div>
                    <div class="flex-100 margin-b-15">
                        <svg class=" i-icon contacts-svg">
                            <use xlink:href="#contacts-svg-2"/>
                        </svg>
                        <div class="margin-l-30">
                            <p class="margin-t-0 margin-b-0">108814, Москва, поселение Сосенское, </p>
                            <p class="margin-t-6 margin-b-0">д. Николо-Хованское</p>
                            <p class="bold margin-t-6 margin-b-0">GPS координаты: 55.602671, 37.445729</p>
                        </div>
                    </div>
                    <div class="flex-100 margin-b-15">
                        <svg class=" i-icon contacts-svg">
                            <use xlink:href="#contacts-svg-3"/>
                        </svg>
                        <span class="margin-t-10 margin-l-30">Пн - Пт с 9:00 до 18:00, Сб., Вс. - выходной</span>
                    </div>
                    <div class="flex-100">
                        <svg class=" i-icon contacts-svg">
                            <use xlink:href="#contacts-svg-4"/>
                        </svg>
                        <a href="mailto:info@v01.ru" class="blue margin-t-6 margin-l-30 underline">info@v01.ru </a>
                    </div>
                </div>
                <div class="">
                    <button class="content__phone-btn">Связаться с нами</button>
                </div>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
<!--                <div id="map" class="map margin-t-40"></div>-->
                <div class="margin-t-40">
                    <%- require('./main-map.ejs')() %>
                </div>
            </div>
        </div>
        <span class="h2">Представительства в г. Москва</span>
        <div class="margin-t-20">
            <%- require('./contact-cards.ejs')() %>
        </div>
    </div>


    <div class="container-custom">
        <div class="map-margins-contacts">
            <div id="map1" class="map"></div>
        </div>
    </div>

    <%- require('./write-us.ejs')() %>

    <div class="space-small"></div>
</div>

