<div class="contact-cards">
    <div class="contact-card">
        <div class="contact_cards-icon">
            <img src="./images/icons/logo-small.png" alt="" class="logo-small">
        </div>
        <div class="contact_cards-content">
            <a href="tel:+74992818180" class="big-black margin-b-15">
                +7 (499) 281-81-80
            </a>
            <span class="margin-b-15">Пн - Пт с 9:00 до 18:00, Сб., Вс. - выходной</span>
            <span class="">108814, Москва, поселение Сосенское, д. Николо-Хованское</span>
            <span class="margin-t-6">GPS координаты: 55.602671, 37.445729</span>
            <div class="flex-100 margin-t-6 margin-b-15">
                    <div class="header__location ">
                        <svg class=" i-icon header-location__img-registration orange">
                            <use xlink:href="#icon-location"/>
                        </svg>
                        <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                           data-src="#chose-town">Показать на карте</a>
                    </div>
            </div>
            <a href="mailto:info@v01.ru" class="blue underline ">info@v01.ru </a>

        </div>
    </div>
    <div class="contact-card">
        <div class="contact_cards-icon">
            <img src="./images/icons/logo-small.png" alt="" class="logo-small">
        </div>
        <div class="contact_cards-content">
            <a href="tel:+74992818180" class="big-black margin-b-15">
                +7 (499) 281-81-80
            </a>
            <span class="margin-b-15">Пн - Пт с 9:00 до 18:00, Сб., Вс. - выходной</span>
            <span class="">108814, Москва, поселение Сосенское, д. Николо-Хованское</span>
            <span class="margin-t-6">GPS координаты: 55.602671, 37.445729</span>
            <div class="flex-100 margin-t-6 margin-b-15">
                <div class="header__location ">
                    <svg class=" i-icon header-location__img-registration orange">
                        <use xlink:href="#icon-location"/>
                    </svg>
                    <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                       data-src="#chose-town">Показать на карте</a>
                </div>
            </div>
            <a href="mailto:info@v01.ru" class="blue underline ">info@v01.ru </a>

        </div>
    </div>
    <div class="contact-card">
        <div class="contact_cards-icon">
            <img src="./images/icons/logo-small.png" alt="" class="logo-small">
        </div>
        <div class="contact_cards-content">
            <a href="tel:+74992818180" class="big-black margin-b-15">
                +7 (499) 281-81-80
            </a>
            <span class="margin-b-15">Пн - Пт с 9:00 до 18:00, Сб., Вс. - выходной</span>
            <span class="">108814, Москва, поселение Сосенское, д. Николо-Хованское</span>
            <span class="margin-t-6">GPS координаты: 55.602671, 37.445729</span>
            <div class="flex-100 margin-t-6 margin-b-15">
                <div class="header__location ">
                    <svg class=" i-icon header-location__img-registration orange">
                        <use xlink:href="#icon-location"/>
                    </svg>
                    <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                       data-src="#chose-town">Показать на карте</a>
                </div>
            </div>
            <a href="mailto:info@v01.ru" class="blue underline ">info@v01.ru </a>

        </div>
    </div>
    <div class="contact-card">
        <div class="contact_cards-icon">
            <img src="./images/icons/logo-small.png" alt="" class="logo-small">
        </div>
        <div class="contact_cards-content">
            <a href="tel:+74992818180" class="big-black margin-b-15">
                +7 (499) 281-81-80
            </a>
            <span class="margin-b-15">Пн - Пт с 9:00 до 18:00, Сб., Вс. - выходной</span>
            <span class="">108814, Москва, поселение Сосенское, д. Николо-Хованское</span>
            <span class="margin-t-6">GPS координаты: 55.602671, 37.445729</span>
            <div class="flex-100 margin-t-6 margin-b-15">
                <div class="header__location ">
                    <svg class=" i-icon header-location__img-registration orange">
                        <use xlink:href="#icon-location"/>
                    </svg>
                    <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                       data-src="#chose-town">Показать на карте</a>
                </div>
            </div>
            <a href="mailto:info@v01.ru" class="blue underline ">info@v01.ru </a>

        </div>
    </div>
</div>
