</div>


<footer class="footer" id="ie">

    <!--        Этот скрипт должен обязательно стоять тут, что бы IE мог его считать(в отдельном файле он не считывает)-->
    <script>
        var sBrowser, sUsrAg = navigator.userAgent;
        if (sUsrAg.indexOf("Firefox") > -1) {
            sBrowser = "Mozilla Firefox";
        } else if (sUsrAg.indexOf("Trident") > -1) {
            sBrowser = "Microsoft Internet Explorer";}
            // console.log('browser!', sBrowser);
            // console.log('nav', navigator);
        if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/))){
            console.log('IE!', document.getElementById('ie'));
            document.getElementById('ie').style.display = 'none';
        }
    </script>
    <!--            <div>footer</div>-->
    <div class="flex-columns flex-around container-custom">
        <div class="footer-boy ">
            <img src="./images/content/footer-boy.svg" alt="boy" class="">
        </div>
        <div class="footer-parts">
            <label class="footer-title" for="menu-toggle" data-change-arrowFooter>
                <a class="my-link">Каталоги</a>
                <svg class="i-icon vector-filter-footer phone-big reverse-h">
                    <use xlink:href="#vector-big"></use>
                </svg>
            </label>
<!--            <label for="menu-toggle">Toggle menu</label>-->
            <input type="checkbox" id="menu-toggle" class="none"/>
            <div class="toggle">
                <a class="footer-element">Оригинальный каталог</a>
                <a class="footer-element">Каталог заменителей (tecdoc)</a>
                <a class="footer-element">Универсальный каталог</a>
                <a class="footer-element ">Каталог акксесуаров</a>
            </div>
<!--            <br>-->
            <!--                    <div class="footer-parts">-->
            <label class="footer-title" for="menu-toggle1" data-change-arrowFooter>
                <a class="my-link">Сопутствующие товары</a>
                <svg class="i-icon vector-filter-footer phone-big reverse-h">
                    <use xlink:href="#vector-big"></use>
                </svg>
            </label>
            <input type="checkbox" id="menu-toggle1" class="none"/>
            <div class="toggle">
                <a class="footer-element">Масло и автохимия</a>
                <a class="footer-element">Шины и диски</a>
                <a class="footer-element">Автоэлектрика</a>
            </div>
            <!--                    </div>-->
        </div>
        <div class="footer-parts">
            <label for="menu-toggle2" class="footer-title" data-change-arrowFooter>
                <a class="my-link">Информация</a>
                <svg class="i-icon vector-filter-footer phone-big reverse-h">
                    <use xlink:href="#vector-big"></use>
                </svg>
            </label>
            <input type="checkbox" id="menu-toggle2" class="none"/>
            <div class="toggle">
                <a class="footer-element">О компании</a>
                <a class="footer-element">Оплата и доставка</a>
                <a class="footer-element">Как купить</a>
                <a class="footer-element">Бренды</a>
                <a class="footer-element">Новости и акции</a>
                <a class="footer-element">Поставщикам</a>
                <a class="footer-element">API</a>
                <a class="footer-element">Контакты</a>
            </div>
        </div>
        <div class="footer-parts mobile">
        <label class="footer-title" for="menu-toggle1"></label>
        </div>
        <div class="mobile footer-logo">
            <img src="./images/icons/logo.png" alt="logo" class="">
        </div>

        <div class="footer-parts">
            <span class="footer-title desktop">Контакты</span>
            <a class="footer-phone" href="tel:+78124674347">+7 (812) 467-43-47</a>
            <p class="footer-element-low">08814, Москва, поселение Сосенское, д. Николо-Хованское</p>
            <a href="mailto:info@v01.ru" class="footer-a">info@v01.ru</a>
            <p class="footer-element-low">Понедельник - пятница: 9:00 - 18:00</p>
            <p class="footer-element-low">Суббота, воскресенье: Выходные</p>
            <div class="social">
                <a class="social-a">
                    <svg class=" i-icon social-svg">
                        <use xlink:href="#vk"/>
                    </svg>
                </a>
                <a class="social-a">
                    <svg class=" i-icon social-svg">
                        <use xlink:href="#fb"/>
                    </svg>
                </a>
                <a class="social-a">
                    <svg class=" i-icon social-svg">
                        <use xlink:href="#inst"/>
                    </svg>
                </a>
            </div>
            <div class=" desktop">
                <%- require("../components/elements/logo.ejs")() %>
            </div>

        </div>

    </div>
    <div class="footer-weave">
        <img src="./images/content/weave-grey.svg" alt="" class="footer-img">
    </div>
    <div class="pred-low-footer">
    <div class="low-footer">
        <div class=" flex-around container-custom">
        <p class="footer-copyright">© 2020. Оптовые продажи автокомпонентов для автомобилей иностранного
            производства</p>
        <a class="confident">Политика конфиденциальности</a>
        <a class="confident">Пользовательское соглашение</a>
        <div class="stratosfera">
            <!--                    <svg class=" i-icon logo-strato ">-->
            <!--                        <use xlink:href="#logo-strato"/>-->
            <!--                    </svg>-->
            <a class="us-logo">
                <img src="./images/content/logo-strato.svg" alt="us-logo" class="logo-strato-img">
            </a>

        </div>
    </div>
    </div>
    </div>
</footer>
</div>
<%- require('./mobile-menu.ejs')() %>
<%- require('./mobile-filter.ejs')() %>
<%- require('./modals.ejs')() %>
<div class="overlay"></div>
<div class="preloader" data-preloader>
    <div></div>
</div>
</body>
</html>