<div class="main">
    <div class="container-custom">
        <div class="found-cars">
            <span class="h1">Найденные автомобили</span>
            <div class=" scroll">
                <div class="modif-table">
                    <div class="table-content">
                        <div class="level-custom border" >
                            <p class="table_grey-p w-25pr">Модификация</p>
                            <p class="table_grey-p w-10pr">Год</p>
                            <p class="table_grey-p w-15pr">Модель двигателя</p>
                            <p class="table_grey-p w-15pr">Тип двигателя</p>
                            <p class="table_grey-p w-17pr">Рынок</p>
                            <p class="table_grey-p w-18pr">Коробка передач</p>
                        </div>
                        <div class="level border">
                            <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>
                            <p class="table_common-p w-10pr">2011</p>
                            <p class="table_common-p w-15pr">DOHC - MPI</p>
                            <p class="table_common-p w-15pr">Бензиновый</p>
                            <p class="table_common-p w-17pr">США</p>
                            <p class="table_common-p w-15pr">АКК</p>
                            <svg class=" i-icon checked ">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>
                        <div class="level border">
                            <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>
                            <p class="table_common-p w-10pr">2011</p>
                            <p class="table_common-p w-15pr">DOHC - MPI</p>
                            <p class="table_common-p w-15pr">Бензиновый</p>
                            <p class="table_common-p w-17pr">США</p>
                            <p class="table_common-p w-15pr">АКК</p>
                            <svg class=" i-icon checked ">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>
                        <div class="level border">
                            <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>
                            <p class="table_common-p w-10pr">2011</p>
                            <p class="table_common-p w-15pr">DOHC - MPI</p>
                            <p class="table_common-p w-15pr">Бензиновый</p>
                            <p class="table_common-p w-17pr">США</p>
                            <p class="table_common-p w-15pr">АКК</p>
                            <svg class=" i-icon checked ">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>
                        <div class="level border">
                            <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>
                            <p class="table_common-p w-10pr">2011</p>
                            <p class="table_common-p w-15pr">DOHC - MPI</p>
                            <p class="table_common-p w-15pr">Бензиновый</p>
                            <p class="table_common-p w-17pr">США</p>
                            <p class="table_common-p w-15pr">АКК</p>
                            <svg class=" i-icon checked ">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>
                        <div class="level border">
                            <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>
                            <p class="table_common-p w-10pr">2011</p>
                            <p class="table_common-p w-15pr">DOHC - MPI</p>
                            <p class="table_common-p w-15pr">Бензиновый</p>
                            <p class="table_common-p w-17pr">США</p>
                            <p class="table_common-p w-15pr">АКК</p>
                            <svg class=" i-icon checked ">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

