<div class="main">
    <div class="flex-100 flex-around ">
        <a href="" class="blue-a">О компании</a>
        <a href="" class="blue-a">Контакты</a>
        <a href="" class="blue-a">Доставка и оплата</a>
        <a href="" class="blue-a">Api</a>
        <a href="" class="blue-a">Поставщикам</a>
        <a href="" class="blue-a">Новости</a>
    </div>
</div>

