<div class="vocabulary border-duo">
    <div class="flex-100">
        <div class="vocabulary-flex margin-t-20 margin-b-20 w-100pr">
            <a href="" class="vocabulary-blue-a">А</a>
            <a href="" class="vocabulary-blue-a">Б</a>
            <a href="" class="vocabulary-blue-a">В</a>
            <a href="" class="vocabulary-blue-a">Г</a>
            <a href="" class="vocabulary-blue-a">Д</a>
            <a href="" class="vocabulary-blue-a">Е</a>
            <a href="" class="vocabulary-blue-a">Ж</a>
            <a href="" class="vocabulary-blue-a">З</a>
            <a href="" class="vocabulary-blue-a">И</a>
            <a href="" class="vocabulary-blue-a">К</a>
            <a href="" class="vocabulary-blue-a">Л</a>
            <a href="" class="vocabulary-blue-a">М</a>
            <a href="" class="vocabulary-blue-a">Н</a>
            <a href="" class="vocabulary-blue-a">О</a>
            <a href="" class="vocabulary-blue-a">П</a>
            <a href="" class="vocabulary-blue-a">Р</a>
            <a href="" class="vocabulary-blue-a">С</a>
            <a href="" class="vocabulary-blue-a">Т</a>
            <a href="" class="vocabulary-blue-a">У</a>
            <a href="" class="vocabulary-blue-a">Ф</a>
            <a href="" class="vocabulary-blue-a">Х</a>
            <a href="" class="vocabulary-blue-a">Ц</a>
            <a href="" class="vocabulary-blue-a">Ч</a>
            <a href="" class="vocabulary-blue-a">Ш</a>
            <a href="" class="vocabulary-blue-a">Щ</a>
            <a href="" class="vocabulary-blue-a">Э</a>
            <a href="" class="vocabulary-blue-a">Ю</a>
            <a href="" class="vocabulary-blue-a">Я</a>
        </div>
    </div>
</div>

