    <div class="slider-news_brands">
            <div class="slider-news_brands-inner">
                <div class="news-container   block-out-brands">
                    <div class="block-news">
                        <a>
                            <img src="./images/content/news-1.png" alt="news" class="block-img">
                        </a>
                    </div>
                    <div class="block-news">
                        <p class="block-date">10.05.2020</p>
                        <a class="block-span" href="">GT OIL снижает цены на масло до минимума!</a>
                        <p class="block-text">Только до 31 марта 2020 года вы можете купить 200 литровую бочку
                            оригинального синтетического корейского масла GT Energy SN 5W-30 всего за 42 550
                            рублей!</p>
                        <span class="block-to">до 31.03.2020</span>
                    </div>
                </div>
                <div class="news-container   block-out-brands">
                    <div class="block-news">
                        <a>
                            <img src="./images/content/news-2.png" alt="news" class="block-img">
                        </a>
                    </div>
                    <div class="block-news">
                        <p class="block-date">10.05.2020</p>
                        <a class="block-span">Представляем вам уникальный товар GreenCool – Антифриз
                            Европейского качества</a>
                        <p class="block-text">Антифриз GreenCool при существующей конкуренции со всеми
                            российскими и
                            европейскими марками
                            в Республике БЕЛАРУСЬ – Бренд №1 на протяжении 3-х лет подряд.</p>
                    </div>
                </div>
            </div>
    </div>
