<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Доставка и оплата</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Доставка и оплата</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>

<!--        Надо придумать как вставить-->
<!--        <div class="relocation-contacts">-->
<!--            <span class="common">Контактная информация в</span>-->
<!--            <div class="registration-town">-->
<!--                <div class="header__location ">-->
<!--                    <svg class=" i-icon header-location__img-registration orange">-->
<!--                        <use xlink:href="#icon-location"/>-->
<!--                    </svg>-->
<!--                    <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"-->
<!--                       data-src="#chose-town">г. Москва</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="pay_main">
            <div class="pay-tab-unit">
                <%- require('./pay-list.ejs')() %>
            </div>

            <div class="pay-tab-unit">
                <div class="relocation-contacts absolute-relication">
                    <span class="common">Контактная информация в</span>
                    <div class="registration-town">
                        <div class="header__location ">
                            <svg class=" i-icon header-location__img-registration orange">
                                <use xlink:href="#icon-location"/>
                            </svg>
                            <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                               data-src="#chose-town">г. Москва</a>
                        </div>
                    </div>
                </div>
                <div class="tab-unit-item margin-t-30">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#package"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Доставка</p>
                <p class="blue">Бесплатная курьерская доставка</p>
                <div class="timetable">
                    <p class="special">Сроки доставки указаны в товаре</p>
                    <div class="flex">
                        <svg class=" i-icon delivery-time">
                            <use xlink:href="#delivery-time"/>
                        </svg>
                        <div class="text">
                            <p>Пн - Пт с 9:00 до 18:00</p>
                            <p>Cб., Вс. - выходной</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="pay-tab-unit">
                <div class="tab-unit-item margin-t-30">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#delivery-cajas"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Посылки до 10 кг</p>
                <p class="blue">Доставляются до двери</p>
                <span class="pay-common">
                    Заказчик встречается с курьером за дверным порогом, в местах общего пользования
                </span>
            </div>
            <div class="pay-tab-unit">
                <div class="tab-unit-item margin-t-30">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#delivery-paleta"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Посылки более 10 кг</p>
                <p class="blue">Доставляются до подъезда или дома</p>
                <span class="pay-common">
                    При обязательном наличии подъездных путей, предназначенных
                    для грузового транспорта. В данном случае, просим
                    обеспечить беспрепятственное прибытие нашего автомобиля
                    к месту разгрузки. Если проезд будет затруднен или невозможен,
                    то товар будет передан в точке, максимально близкой к
                    ранее согласованной, позволяющей выполнить остановку и
                    автозапчасти без нарушения ПДД.
                </span>
            </div>
        </div>
    </div>


    <div class="container-custom">
    </div>


    <div class="space-small"></div>
</div>

