<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Доставка и оплата</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Доставка и оплата</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>

        <div class="pay_main">
            <div class="pay-tab-unit">
                <%- require('./pay-list.ejs')() %>
            </div>
            <div class="pay-tab-unit">
                <div class="tab-unit-item">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#pay-1"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Наличными при получении</p>
                <span class="pay-common">
                    На нашем складе всегда в наличии широкий,
                    постоянно увеличивающийся ассортимент запасных
                    частей для автомобилей, мотоциклов и другой техники ,
                    представленной на нашем рынке.
                </span>
            </div>
            <div class="pay-tab-unit">
                <div class="tab-unit-item">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#pay-2"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Картой при получении</p>
                <span class="pay-common">
                    На нашем складе всегда в наличии широкий,
                    постоянно увеличивающийся ассортимент запасных
                    частей для автомобилей, мотоциклов и другой техники ,
                    представленной на нашем рынке.
                </span>
            </div>
            <div class="pay-tab-unit">
                <div class="tab-unit-item">
                    <div class="deliveryy-big">
                        <svg class=" i-icon deliveryy">
                            <use xlink:href="#elipse-delivery"/>
                        </svg>
                        <svg class=" i-icon package">
                            <use xlink:href="#pay-3"/>
                        </svg>
                    </div>
                </div>
                <p class="pay-big-orange">Оплата по счету</p>
                <span class="pay-common">
                    На нашем складе всегда в наличии широкий,
                    постоянно увеличивающийся ассортимент запасных
                    частей для автомобилей, мотоциклов и другой техники ,
                    представленной на нашем рынке.
                </span>
            </div>
        </div>
    </div>


    <div class="container-custom">
    </div>


    <div class="space-small"></div>
</div>

