<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Поставщикам</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details ">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Поставщикам</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>

        <div class="provider-first_block">
            <div class="provider-first_block-left">
                <span class="provider-subtitle">
                    ООО «М Партс» приглашает к сотрудничеству производителей,
                    продавцов автозапчастей и аксессуаров для легковых, коммерческих,
                    грузовых автомобилей, спец - и мототехники
                </span>
                <p class="provider-text">
                    На нашем складе всегда в наличии широкий, постоянно увеличивающийся
                    ассортимент запасных частей для автомобилей, мотоциклов и другой техники ,
                    представленной на нашем рынке. У нас поддерживаются в наличии товары, как
                    для нового, так и для старого модельных рядов.
                </p>
                <svg class="i-icon  provider-svg-abs" >
                    <use xlink:href="#provider-svg-2"/>
                </svg>
            </div>
            <div class="provider-first_block-right">
                <img src="./images/content/provider-1.png" alt="provider-1" class="provider-img">
                <svg class="i-icon provider-svg-rel" >
                    <use xlink:href="#provider-svg-1"/>
                </svg>
            </div>
        </div>

        <div class="provider-first_block margin-b-100">
            <div class="provider-first_block-right">
                <img src="./images/content/provider-2.png" alt="provider-1" class="provider-img">
            </div>
            <div class="provider-first_block-left">
                <span class="h2">Условия сотрудничества</span>
                <div class="flex-100 margin-t-10">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Широкий ассортимент оригинальных и неоригинальных автозапчастей в наличии</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Минимальные сроки поставки</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Гибкую ценовую политику</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Регулярное информирование о наличии товаров на складе и изменении цен</p>
                </div>
                <div class="flex-100 margin-t-6">
                    <svg class=" i-icon about-true">
                        <use xlink:href="#about-true"/>
                    </svg>
                    <p class="common">Собственную логистику до нашего склада</p>
                </div>
                <div class="flex-100 margin-b-15 margin-l-63">
                    <div class="header__location ">
                        <svg class=" i-icon header-location__img-registration orange">
                            <use xlink:href="#icon-location"/>
                        </svg>
                        <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                           data-src="#chose-town">Схема проезда</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- require('./write-provider.ejs')() %>

    <div class="container-custom">

    </div>
    <div class="space-small"></div>
</div>

