<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Корзина</a>
                -
                <a href="" class="crumbs-a">Оформить заказ</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details">
        <span class="h1">Оформить заказ</span>
        <div class="registration-back">
            <div class="watch-all-know">
                <svg class=" i-icon arrow-left rotated">
                    <use xlink:href="#arrow"/>
                </svg>
                <a class="watch__all-p">Вернуться в корзину</a>
            </div>
        </div>
    </div>

    <div class="container-custom">
        <div class="relocation border-duo">
            <span class="common">Доставка в город</span>
            <div class="registration-town">
                <div class="header__location ">
                    <svg class=" i-icon header-location__img-registration orange">
                        <use xlink:href="#icon-location"/>
                    </svg>
                    <a class="common orange margin-l-5" data-fancybox data-animation-duration="700"
                       data-src="#chose-town">Москва</a>
                </div>
            </div>
            <a class="blue pointer common" data-fancybox data-animation-duration="700" data-src="#chose-town">
                Изменить город
            </a>
        </div>
        <div class="registration_order-main">
            <div class="registration-buyer">
                <span class="h4">Данные покупателя</span>
                <div class="registration-inputs">
                    <!--                    Common-->
                    <div class="registration-level">
                        <div class="flex-100 flex-space phone-wrap">
                            <label for="name-fast_order" class="label-margin w-31pr  m-0">
                                <input type="text" autocomplete="off" id=""
                                       class="content__phone-input w-100pr"
                                       placeholder="Ваше имя"
                                       data-input-required="name">
                                <svg class=" i-icon star-after">
                                    <use xlink:href="#star-red"/>
                                </svg>
                            </label>

                            <label for="phone-fast_order" class="label-margin w-31pr  m-0">
                                <input type="text" autocomplete="off" id=""
                                       class="content__phone-input w-100pr"
                                       placeholder="Ваша фамилия"
                                       data-input-required="name">
                                <svg class=" i-icon star-after">
                                    <use xlink:href="#star-red"/>
                                </svg>
                            </label>

                            <label for="phone-fast_order" class="label-margin w-31pr  m-0">
                                <input type="text" autocomplete="off" id=""
                                       class="content__phone-input w-100pr"
                                       placeholder="Ваше отчество">
                            </label>
                        </div>
                    </div>
                    <!--                    White-->
                    <div class="registration-level">
                        <div class="flex-100 flex-space phone-wrap">
                            <label for="name-fast_order" class="label-margin w-31pr  m-0">
                                <input type="text" autocomplete="off" id=""
                                       class="content__phone-input-white w-100pr"
                                       placeholder="Ваша почта"
                                       data-input-required="">
                            </label>

                            <label for="phone-fast_order" class="label-margin w-31pr  m-0">
                                <input type="text" autocomplete="off" id=""
                                       class="content__phone-input-white w-100pr"
                                       placeholder="Ваш номер"
                                       data-input-required="">
                            </label>

                            <label for="phone-fast_order" class="hidden label-margin w-31pr  m-0">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="registration-company">
                <div class="h4-note">
                    <span class="h4">Данные компании</span>
                    <span class="grey-color small margin-l-5">при изминении компании стоимость товаров может измениться</span>
                </div>
                <div class="registration_company-radio margin-t-15">
                    <div class="company__info-med flex-100 ">
                        <div class="register-radio border-duo">
                            <label class="container-radio modal-radio">ООО «Автопрм Сервис»
                                <div class="flex">
                                    <span class="grey-color small margin-t-10">ИНН: </span>
                                    <span class="small margin-t-10">12345678</span>
                                </div>
                                <input type="radio" checked="checked" name="radio-company">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio border-duo">
                            <label class="container-radio modal-radio">ООО «Автопрм Сервис»
                                <div class="flex ">
                                    <span class="grey-color small margin-t-10">ИНН: </span>
                                    <span class="small margin-t-10">12345678</span>
                                </div>
                                <input type="radio" name="radio-company">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio border-duo hidden">
                            <!--                            <label class="container-radio modal-radio ">Самовывоз-->
                            <!--                                <input type="radio" name="radio-company">-->
                            <!--                                <span class="checkmark"></span>-->
                            <!--                            </label>-->
                        </div>
                    </div>
                </div>
            </div>

            <%- require('./chose-delivery.ejs')() %>

            <div class="registration-pay">
                <span class="h4">Способ оплаты</span>
                <div class="radios margin-t-15">
                    <div class="company__info-med flex-100">
                        <div class="register-radio border-duo">
                            <label class="container-radio modal-radio ">Наличными при получении
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio border-duo">
                            <label class="container-radio modal-radio ">Картой при получении
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio border-duo">
                            <label class="container-radio modal-radio ">Выставить счет
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <%- require('./order-table.ejs')() %>

            <div class="basket-list__item">
                <div class="basket-checkout-block basket-checkout-block-total">
                    <div class="basket-checkout-block-total-inner">
                        <div class="basket-checkout-block-total-title">Товаров на сумму:</div>
                        <div class="basket-checkout-block-total-description">
                        </div>
                    </div>
                </div>
                <div class="basket-checkout-block basket-checkout-block-total-price">
                    <div class="basket-checkout-block-total-price-inner">
                        <div class="basket-coupon-block-total-price-current">1 199&nbsp;590 руб.</div>
                    </div>
                </div>
                <div class="registration-back-low">
                    <div class="watch-all-know">
                        <svg class=" i-icon arrow-left rotated">
                            <use xlink:href="#arrow"/>
                        </svg>
                        <a class="watch__all-p">Вернуться в корзину</a>
                    </div>
                </div>
            </div>

            <div class="registration-comment">
                <span class="h4">Комментарий к заказу</span>
                <textarea class="big-textarea margin-t-15"></textarea>
            </div>

            <%- require('./confirmation-delivery.ejs')() %>

            <div class="registration-btn">
                <button class="w-360 content__phone-btn">Оформить заказ</button>
            </div>
        </div>
    </div>


    <div class="space"></div>
</div>

