<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Каталог оригинальных запчастей</a>
                -
                <a href="" class="crumbs-a">Оригинальные запчасти для Hyundai Solaris седан 1.6</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details">
        <span class="h1">Оригинальные запчасти для Hyundai Solaris седан 1.6</span>
        <div>
            <div class="chose__mark-toggle">
                <p class="tog-p">
                    <a class="tog__p-tog__a">Категории</a>
                </p>
                <p class="tog-p current">
                    <a class="tog__p-tog__a">Узлы</a>
                </p>
            </div>
        </div>
                <!--                Узлыыы!!!!-->
            <div class="flex-100 items-parts">
                    <div class="details_left-menu">
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Двигатель</a>
                            </label>
                        </div>
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Коробка передач</a>
                            </label>
                        </div>
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Шасси</a>
                            </label>
                        </div>
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Кузов</a>
                            </label>
                        </div>
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Оснащение кузова</a>
                            </label>
                        </div>
                        <div class="menu-item">
                            <label class="left-menu_toggle-title" for="lab1">
                                <a class="my-link" id="lab1">Электрика</a>
                            </label>
                        </div>

                    </div>


                    <div class="details_content">
                        <!--                        основная часть-->
                        <div class="custom-find">
                            <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                            <svg class=" i-icon lupa-find ">
                                <use xlink:href="#lupa"/>
                            </svg>
                            <input type="text" placeholder="Быстрый поиск по подразделам" class="custom_find-input-ts">
                        </div>

                        <div class="detail">
                            <div class="mosaic articles">
                                <div class="mosaic-unit selected-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>
                                <div class="mosaic-unit">
                                    <img src="./images/content/motor.png" alt="motor">
                                    <a href="" class="mosaic-a">31-310: Топливная система</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

    </div>


    <div class="container-custom">
        <div class="seo-text">
            <h1 class="h2">
                Каталог оригинальных запчастей
            </h1>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

