<div class="subscription">
    <div class="container-custom h-100pr">
        <div class="container_custom-column">
        <div class="container_custom-flex">
            <span class="subscription-big_orange">
                Подписаться на рассылку
            </span>
            <div class="w-260 margin-t-10">
                <label for="subs01" class="label-margin  flex-100 wrap m-0">
                    <input type="email" id="subs01"
                           class="w-100pr content__phone-input-white"
                           placeholder="E-mail"
                           data-inputmask data-input-required="email">
                    <svg class=" i-icon star-after">
                        <use xlink:href="#star-red"/>
                    </svg>
                </label>
            </div>
            <div class="margin-t-10">
                <button class="content__phone-btn">Отправить</button>
            </div>
            <div class="w-260 margin-t-10">
                    <div class="checkbox__label">
                        <input type="checkbox" id="check4" class="checkbox__input subscription-checkbox"
                               data-input-required="checkbox">
                        <div class="checkbox__emulator white subscription-checkbox">
                            <svg class=" i-icon fill-white">
                                <use xlink:href="#checked"/>
                            </svg>
                        </div>
                        <div class="checkbox__text">
                            <label for="check4" class="subscription-white_label">Нажимая кнопку “Отправить” я даю свое
                                согласие на обработку персональных данных. <a href="" class="orange underscore-orange">Условия</a></label>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>