<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Доставка и оплата</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Доставка и оплата</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>

        <div class="pay_main">
            <div class="pay-tab-unit">
                <%- require('./pay-list.ejs')() %>
            </div>
            <div class="town-delivery">
                <span class="delivery-big-black">
                    Доставка в другие регионы РФ может осуществляться через ТК.
                    Условия доставки товара оговариваются с каждым клиентом индивидуально.
                </span>
                <!--                LETTERS-->
                <div class="margin-t-30">
                    <%- require('./letters.ejs')() %>
                </div>

                <div class="select-town">
                    <a href="" class="blue-link">Абакан</a>
                    <a href="" class="blue-link">Аксай</a>
                    <a href="" class="blue-link">Альметьевск</a>
                    <a href="" class="blue-link">Ангарск</a>
                    <a href="" class="blue-link">Армавир</a>
                    <a href="" class="blue-link">Артем</a>
                    <a href="" class="blue-link">Архангельск</a>
                    <a href="" class="blue-link">Астрахань</a>
                    <a href="" class="blue-link">Абакан</a>
                    <a href="" class="blue-link">Аксай</a>
                    <a href="" class="blue-link">Альметьевск</a>
                    <a href="" class="blue-link">Ангарск</a>
                    <a href="" class="blue-link">Армавир</a>
                    <a href="" class="blue-link">Артем</a>
                    <a href="" class="blue-link">Архангельск</a>
                    <a href="" class="blue-link">Астрахань</a>
                </div>

                <div class="map-town">
                    <%- require('./main-map.ejs')() %>
                </div>
            </div>
        </div>


    </div>


    <div class="container-custom">
    </div>


    <div class="space-small"></div>
</div>

