<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Универсальный каталог</a>
                -
                <a href="" class="crumbs-a">Шины летние</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details">
        <span class="h1">Шины летние</span>
        <div>
            <div>
                <!--                Узлыыы!!!!-->
                <div class="flex-100 items-parts-access">
                    <div class="details_left-menu">
                        <div class="main-filter">
                            <div class="filter-level">
<!--                                <label for="">-->
<!--                                    <span class="filter_level-head">Цена, руб.</span>-->
<!--                                    <svg class=" i-icon vector">-->
<!--                                        <use xlink:href="#vector"/>-->
<!--                                    </svg>-->
<!--                                </label>-->
                                <div class="filter-toggle">
<!--                                    <div class="flex">-->
<!--                                        <input type="text">/<input type="text">-->
<!--                                    </div>-->
                                    <%- require("../components/bx/bx-filter.ejs")() %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="details_content">
                        <!--                        основная часть-->
                        <div class="custom-find-access">
                            <div class="price-filter">
                                <div class="price_filter-item selected-filter" onclick="selectFilter(0)" id="filter0">
                                    <span>По возрастанию цены</span>
                                </div>
                                <div class="price_filter-item" onclick="selectFilter(1)" id="filter1">
                                    <span>По убыванию цены</span>
                                </div>
                            </div>
                        </div>

                        <div class="detail">
                            <div class="mosaic articles">
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8" class="universal-img">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6
                                        Название аксессуара для Hyndai Solaris Sedan 1,6
                                        Название аксессуара для Hyndai Solaris Sedan 1,6
                                        Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/herramient.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="line flex-100">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-8.png" alt="article-8">
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan
                                        1,6</a>
                                    <div class="price-info">
                                        <span class="grey">Green Cool</span>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. цена: </span>
                                            <span class="boldd">30 дней / 500 000 руб.</span>
                                        </div>
                                        <div class="line flex-100">
                                            <span class="grey-note">Мин. срок: </span>
                                            <span class="boldd">1 день / 750 руб.</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="pages ">
                                <%- require('./numeration.ejs')() %>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container-custom">
        <div class="seo-text">
            <p class="h2">
                Оптовые продажи автокомпонентов для автомобилей иностранного производства
            </p>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

