<div class="vocabulary border-duo">
    <div class="flex-space margin-t-20">
        <div class="vocabulary-flex w-85pr">
            <a href="" class="vocabulary-blue-a">A</a>
            <a href="" class="vocabulary-blue-a">B</a>
            <a href="" class="vocabulary-blue-a">C</a>
            <a href="" class="vocabulary-blue-a">D</a>
            <a href="" class="vocabulary-blue-a">E</a>
            <a href="" class="vocabulary-blue-a">F</a>
            <a href="" class="vocabulary-blue-a">G</a>
            <a href="" class="vocabulary-blue-a">H</a>
            <a href="" class="vocabulary-blue-a">I</a>
            <a href="" class="vocabulary-blue-a">J</a>
            <a href="" class="vocabulary-blue-a">K</a>
            <a href="" class="vocabulary-blue-a">L</a>
            <a href="" class="vocabulary-blue-a">M</a>
            <a href="" class="vocabulary-blue-a">N</a>
            <a href="" class="vocabulary-blue-a">P</a>
            <a href="" class="vocabulary-blue-a">Q</a>
            <a href="" class="vocabulary-blue-a">R</a>
            <a href="" class="vocabulary-blue-a">S</a>
            <a href="" class="vocabulary-blue-a">T</a>
            <a href="" class="vocabulary-blue-a">U</a>
            <a href="" class="vocabulary-blue-a">V</a>
            <a href="" class="vocabulary-blue-a">W</a>
            <a href="" class="vocabulary-blue-a">Y</a>
            <a href="" class="vocabulary-blue-a">X</a>
            <a href="" class="vocabulary-blue-a">Y</a>
            <a href="" class="vocabulary-blue-a">Z</a>
        </div>
        <div class="vocabulary-numbers">
            <a href="" class="vocabulary-blue-a">1-100</a>
        </div>
    </div>
    <div class="flex-100">
        <div class="vocabulary-flex margin-t-20 margin-b-20 w-95pr">
            <a href="" class="vocabulary-blue-a">А</a>
            <a href="" class="vocabulary-blue-a">Б</a>
            <a href="" class="vocabulary-blue-a">В</a>
            <a href="" class="vocabulary-blue-a">Г</a>
            <a href="" class="vocabulary-blue-a">Д</a>
            <a href="" class="vocabulary-blue-a">Е</a>
            <a href="" class="vocabulary-blue-a">Ж</a>
            <a href="" class="vocabulary-blue-a">З</a>
            <a href="" class="vocabulary-blue-a">И</a>
            <a href="" class="vocabulary-blue-a">К</a>
            <a href="" class="vocabulary-blue-a">Л</a>
            <a href="" class="vocabulary-blue-a">М</a>
            <a href="" class="vocabulary-blue-a">Н</a>
            <a href="" class="vocabulary-blue-a">О</a>
            <a href="" class="vocabulary-blue-a">П</a>
            <a href="" class="vocabulary-blue-a">Р</a>
            <a href="" class="vocabulary-blue-a">С</a>
            <a href="" class="vocabulary-blue-a">Т</a>
            <a href="" class="vocabulary-blue-a">У</a>
            <a href="" class="vocabulary-blue-a">Ф</a>
            <a href="" class="vocabulary-blue-a">Х</a>
            <a href="" class="vocabulary-blue-a">Ц</a>
            <a href="" class="vocabulary-blue-a">Ч</a>
            <a href="" class="vocabulary-blue-a">Ш</a>
            <a href="" class="vocabulary-blue-a">Щ</a>
            <a href="" class="vocabulary-blue-a">Э</a>
            <a href="" class="vocabulary-blue-a">Ю</a>
            <a href="" class="vocabulary-blue-a">Я</a>
<!--            <a href="" class="vocabulary-blue-a"></a>-->
        </div>
    </div>
</div>

